@charset "UTF-8";
/* CSS Document */
/* CSS Document */
/* CSS Document */
@font-face {
  font-family: 'ComeniaSansCondRegular';
  src: url("http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co-webfont.eot");
  src: local("☺"), url("http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co-webfont.woff") format("woff"), url("http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co-webfont.ttf") format("truetype"), url("http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co-webfont.svg#webfontWDfTSCpx") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ComeniaSansCondBold';
  src: url("http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co_bold-webfont.eot");
  src: local("☺"), url("http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co_bold-webfont.woff") format("woff"), url("http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co_bold-webfont.ttf") format("truetype"), url("http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co_bold-webfont.svg#webfont7RYPTQcC") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 175, ../scss/_local_css.scss */
body {
  background-color: #fff;
  padding: 0;
  margin: 0;
}
/* line 180, ../scss/_local_css.scss */
body.modal {
  overflow: hidden;
}

/* line 185, ../scss/_local_css.scss */
.full-width {
  max-width: 100%;
}

/* line 191, ../scss/_local_css.scss */
.hidden {
  display: none;
}

/* line 196, ../scss/_local_css.scss */
*:focus {
  outline: 3px solid #FAD129;
}

@-webkit-keyframes "FadeIn" {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes "FadeIn" {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* line 206, ../scss/_local_css.scss */
header .full-width {
  z-index: 1000;
  position: fixed;
  background-color: #882346;
  width: 100%;
  max-width: 100%;
  height: 2.8125rem;
}
/* line 213, ../scss/_local_css.scss */
header .full-width nav.desktop {
  margin: auto;
  max-width: 58rem;
}
/* line 217, ../scss/_local_css.scss */
header .full-width nav.desktop ul {
  margin: 0;
  padding: 0.875rem 0 0 1.5rem;
  list-style-type: none;
}
/* line 221, ../scss/_local_css.scss */
header .full-width nav.desktop ul li {
  display: inline-block;
  padding-right: 2.8125rem;
}
/* line 224, ../scss/_local_css.scss */
header .full-width nav.desktop ul li a {
  font-family: Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  color: #fff;
  font-size: 1rem;
  font-weight: bolder;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 231, ../scss/_local_css.scss */
header .full-width nav.desktop ul li a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 767px) {
  /* line 213, ../scss/_local_css.scss */
  header .full-width nav.desktop {
    display: none;
  }
}
/* line 241, ../scss/_local_css.scss */
header .full-width .mobile-toggle {
  display: none;
  margin: auto;
  max-width: 58rem;
  margin: 0 0 0 1.5rem;
  width: 3rem;
  height: 2.8125rem;
  background-color: #4B091F;
}
@media screen and (max-width: 767px) {
  /* line 241, ../scss/_local_css.scss */
  header .full-width .mobile-toggle {
    display: inline-block;
    animation: FadeIn .75s;
  }
}
/* line 253, ../scss/_local_css.scss */
header .full-width .mobile-toggle .lines {
  background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat -290px -25px;
  width: 1.75rem;
  height: 1.5625rem;
  cursor: pointer;
  animation: FadeIn .75s;
  margin: 0.625rem 0 0 0.625rem;
}
/* line 261, ../scss/_local_css.scss */
header .full-width .mobile-toggle .ex {
  background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat -290px 0px;
  width: 1.4375rem;
  height: 1.4375rem;
  cursor: pointer;
  animation: FadeIn .75s;
  margin: 0.75rem 0 0 0.8125rem;
}
/* line 271, ../scss/_local_css.scss */
header .mobile-white {
  padding-top: 2.8125rem;
  z-index: 900;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
/* line 278, ../scss/_local_css.scss */
header .mobile-white .logo {
  display: block;
  margin: 1.25rem 0 1.25rem 1rem;
  background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat -231px -105px;
  background-origin: content-box;
  width: 7.125rem;
  height: 2.25rem;
}
/* line 287, ../scss/_local_css.scss */
header .mobile-white nav.mobile ul {
  margin: 0;
  padding: 2rem 0 2rem 1.25rem;
  list-style-type: none;
}
/* line 291, ../scss/_local_css.scss */
header .mobile-white nav.mobile ul li {
  padding: 0 0 2.9375rem 0;
}
/* line 293, ../scss/_local_css.scss */
header .mobile-white nav.mobile ul li a {
  font-family: Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 1.125rem;
  color: #716F6F;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 299, ../scss/_local_css.scss */
header .mobile-white nav.mobile ul li a:hover {
  text-decoration: underline;
}
/* line 308, ../scss/_local_css.scss */
header .brand {
  padding-top: 2.8125rem;
  max-width: 58rem;
  margin: auto;
  border-bottom: 1px solid #707070;
}
@media screen and (max-width: 849px) {
  /* line 308, ../scss/_local_css.scss */
  header .brand {
    margin: 0 2.9375rem 0 2.9375rem;
  }
}
@media screen and (max-width: 849px) {
  /* line 308, ../scss/_local_css.scss */
  header .brand {
    margin: 0 0.5rem 0 0.5rem;
  }
}
/* line 319, ../scss/_local_css.scss */
header .brand .logo {
  display: block;
  margin: 1.875rem auto 1rem auto;
  background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat 0px -67px;
  width: 14.25rem;
  height: 4.125rem;
}
@media screen and (max-width: 849px) {
  /* line 319, ../scss/_local_css.scss */
  header .brand .logo {
    margin: 1.875rem auto 0.5rem auto;
    background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat -77px 0px;
    width: 10.125rem;
    height: 2.9375rem;
  }
}
/* line 333, ../scss/_local_css.scss */
header .brand .logo a {
  width: 100%;
  height: 100%;
  display: inline-block;
}

/* line 346, ../scss/_local_css.scss */
.homepageList {
  margin: 0 auto 4.0625rem auto;
  max-width: 58rem;
  padding: 1.875rem 0 0 0;
}
@media screen and (max-width: 767px) {
  /* line 346, ../scss/_local_css.scss */
  .homepageList {
    margin: 0 auto 1.9375rem auto;
    padding: 1.25rem 0 0 0;
  }
}
/* line 355, ../scss/_local_css.scss */
.homepageList .articleItem {
  margin: 0 1.25rem 5.125rem 1.25rem;
  position: relative;
}
/* line 359, ../scss/_local_css.scss */
.homepageList .articleItem:first-of-type {
  margin-top: 0;
}
/* line 362, ../scss/_local_css.scss */
.homepageList .articleItem:last-of-type {
  margin-bottom: 0;
}
@media screen and (max-width: 849px) {
  /* line 355, ../scss/_local_css.scss */
  .homepageList .articleItem {
    margin: 0 2.9375rem 4.6875rem 2.9375rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 355, ../scss/_local_css.scss */
  .homepageList .articleItem {
    margin: 1.4375rem 0.5rem 0 0.5rem;
    border-bottom: 1px solid #ededed;
  }
  /* line 371, ../scss/_local_css.scss */
  .homepageList .articleItem:last-of-type {
    border-bottom: none;
  }
}
/* line 376, ../scss/_local_css.scss */
.homepageList .articleItem a img {
  display: block;
  max-width: 100%;
  border: 2px solid #707070;
  box-sizing: border-box;
}
/* line 382, ../scss/_local_css.scss */
.homepageList .articleItem a .updated {
  background-color: #444;
  padding: 0.375rem 0.8125rem 0.25rem;
  position: absolute;
  top: 0.9375rem;
  right: 0.9375rem;
  color: #fff;
  font-family: Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  /* line 382, ../scss/_local_css.scss */
  .homepageList .articleItem a .updated {
    top: 0.5rem;
    right: 0.5rem;
  }
}
/* line 399, ../scss/_local_css.scss */
.homepageList .articleItem a .video {
  background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat 0px -135px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0.9375rem;
  right: 0.9375rem;
  width: 2.1875rem;
  height: 2.1875rem;
}
@media screen and (max-width: 767px) {
  /* line 399, ../scss/_local_css.scss */
  .homepageList .articleItem a .video {
    background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat -70px -135px;
    width: 1.375rem;
    height: 1.375rem;
    top: 0.75rem;
    right: 0.75rem;
  }
}
/* line 416, ../scss/_local_css.scss */
.homepageList .articleItem a .gallery {
  background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat -35px -135px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0.9375rem;
  right: 0.9375rem;
  width: 2.1875rem;
  height: 2.1875rem;
}
@media screen and (max-width: 767px) {
  /* line 416, ../scss/_local_css.scss */
  .homepageList .articleItem a .gallery {
    background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat -92px -135px;
    width: 1.375rem;
    height: 1.375rem;
    top: 0.75rem;
    right: 0.75rem;
  }
}
/* line 434, ../scss/_local_css.scss */
.homepageList .articleItem .copy {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.16);
  position: relative;
  top: -162px;
  max-width: 100%;
  margin: 0 5.8125rem -10.125rem 5.8125rem;
  padding: 1.25rem 1.5625rem 1.5625rem 1.5625rem;
  z-index: 2;
}
@media screen and (max-width: 849px) {
  /* line 434, ../scss/_local_css.scss */
  .homepageList .articleItem .copy {
    top: -137px;
    margin: 0 4.875rem -8.5625rem 4.875rem;
    padding: 1.25rem 1.75rem 1.25rem 1.75rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 434, ../scss/_local_css.scss */
  .homepageList .articleItem .copy {
    top: 0;
    box-shadow: none;
    margin: 0;
    padding: 1.125rem 0 2.125rem 0;
    background-color: #fff;
    box-shadow: none;
  }
}
/* line 457, ../scss/_local_css.scss */
.homepageList .articleItem .copy h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: #000;
  font-size: 2.625rem;
  margin: 0 0 1.25rem 0;
  padding: 0;
  line-height: 44px;
}
@media screen and (max-width: 849px) {
  /* line 457, ../scss/_local_css.scss */
  .homepageList .articleItem .copy h2 {
    font-size: 2.1875rem;
    line-height: 35px;
  }
}
@media screen and (max-width: 767px) {
  /* line 457, ../scss/_local_css.scss */
  .homepageList .articleItem .copy h2 {
    font-size: 1.5rem;
    line-height: 24px;
    margin: 0 0 0.8125rem 0;
  }
}
/* line 474, ../scss/_local_css.scss */
.homepageList .articleItem .copy h2 a {
  color: #000;
  text-decoration: none;
}
/* line 479, ../scss/_local_css.scss */
.homepageList .articleItem .copy p {
  font-family: Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 1.25rem;
  line-height: 24px;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 849px) {
  /* line 479, ../scss/_local_css.scss */
  .homepageList .articleItem .copy p {
    font-size: 1rem;
    line-height: 19px;
  }
}
@media screen and (max-width: 767px) {
  /* line 479, ../scss/_local_css.scss */
  .homepageList .articleItem .copy p {
    font-size: 0.9375rem;
    line-height: 16px;
  }
}

/* line 498, ../scss/_local_css.scss */
.archiveList {
  margin: 0 auto 4.0625rem auto;
  max-width: 58rem;
  padding: 0;
}
@media screen and (max-width: 767px) {
  /* line 498, ../scss/_local_css.scss */
  .archiveList {
    margin: 0 auto 4.375rem auto;
    padding: 1.25rem 0 0 0;
  }
}
/* line 507, ../scss/_local_css.scss */
.archiveList .filter {
  margin: 1.875rem 1.25rem 2.5rem 1.25rem;
}
@media screen and (max-width: 849px) {
  /* line 507, ../scss/_local_css.scss */
  .archiveList .filter {
    margin: 1.875rem 2.9375rem 1.25rem 2.9375rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 507, ../scss/_local_css.scss */
  .archiveList .filter {
    margin: 1.25rem 0.6875rem 1.25rem 0.6875rem;
  }
}
/* line 515, ../scss/_local_css.scss */
.archiveList .filter p {
  font-family: "Roboto", sans-serif;
  font-size: 1.625rem;
  color: #716F6F;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 767px) {
  /* line 515, ../scss/_local_css.scss */
  .archiveList .filter p {
    font-size: 1.375rem;
    text-align: center;
  }
}
/* line 529, ../scss/_local_css.scss */
.archiveList .articleItem {
  margin: 2.5rem 1.25rem 2.5rem 1.25rem;
  padding: 0 0 2.1875rem 0;
  border-bottom: 1px solid #ededed;
}
/* line 534, ../scss/_local_css.scss */
.archiveList .articleItem:first-of-type {
  margin-top: 0;
}
/* line 537, ../scss/_local_css.scss */
.archiveList .articleItem:last-of-type {
  margin-bottom: 0;
  border-bottom: none;
}
@media screen and (max-width: 849px) {
  /* line 529, ../scss/_local_css.scss */
  .archiveList .articleItem {
    margin: 0 2.9375rem 2.5rem 2.9375rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 529, ../scss/_local_css.scss */
  .archiveList .articleItem {
    margin: 1.4375rem 0.5rem 0 0.5rem;
    border-bottom: 1px solid #ededed;
  }
  /* line 547, ../scss/_local_css.scss */
  .archiveList .articleItem:last-of-type {
    border-bottom: none;
    padding: 0;
  }
}
/* line 552, ../scss/_local_css.scss */
.archiveList .articleItem h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 2.625rem;
  text-align: center;
  line-height: 46px;
  margin: 0 0 0.9375rem 0;
}
/* line 559, ../scss/_local_css.scss */
.archiveList .articleItem h2 a {
  color: #000;
  text-decoration: none;
}
@media screen and (max-width: 849px) {
  /* line 552, ../scss/_local_css.scss */
  .archiveList .articleItem h2 {
    font-size: 2.375rem;
    line-height: 42px;
  }
}
@media screen and (max-width: 767px) {
  /* line 552, ../scss/_local_css.scss */
  .archiveList .articleItem h2 {
    font-size: 2.25rem;
    line-height: 30px;
  }
}
/* line 572, ../scss/_local_css.scss */
.archiveList .articleItem .image {
  position: relative;
  margin: 0 0 1.25rem 0;
}
/* line 575, ../scss/_local_css.scss */
.archiveList .articleItem .image img {
  display: block;
  max-width: 100%;
  border: 2px solid #707070;
  box-sizing: border-box;
}
/* line 581, ../scss/_local_css.scss */
.archiveList .articleItem .image .updated {
  position: absolute;
  background-color: #444;
  padding: 0.375rem 0.8125rem 0.25rem;
  top: 0.9375rem;
  right: 0.9375rem;
  color: #fff;
  font-family: Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  /* line 581, ../scss/_local_css.scss */
  .archiveList .articleItem .image .updated {
    top: 0.5rem;
    right: 0.5rem;
  }
}
/* line 598, ../scss/_local_css.scss */
.archiveList .articleItem .image .video {
  background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat 0px -135px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0.9375rem;
  right: 0.9375rem;
  width: 2.1875rem;
  height: 2.1875rem;
}
@media screen and (max-width: 767px) {
  /* line 598, ../scss/_local_css.scss */
  .archiveList .articleItem .image .video {
    background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat -70px -135px;
    background-color: #e5e5e5;
    width: 1.375rem;
    height: 1.375rem;
    top: 0.75rem;
    right: 0.75rem;
  }
}
/* line 616, ../scss/_local_css.scss */
.archiveList .articleItem .image .gallery {
  background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat -35px -135px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0.9375rem;
  right: 0.9375rem;
  width: 2.1875rem;
  height: 2.1875rem;
}
@media screen and (max-width: 767px) {
  /* line 616, ../scss/_local_css.scss */
  .archiveList .articleItem .image .gallery {
    background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat -92px -135px;
    width: 1.375rem;
    height: 1.375rem;
    top: 0.75rem;
    right: 0.75rem;
  }
}
/* line 634, ../scss/_local_css.scss */
.archiveList .articleItem .timestamp {
  font-family: Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 1.125rem;
  line-height: 30px;
  color: #222;
  display: inline;
}
/* line 642, ../scss/_local_css.scss */
.archiveList .articleItem .timestamp .bolded {
  font-weight: bolder;
}
/* line 644, ../scss/_local_css.scss */
.archiveList .articleItem .timestamp .bolded .upper {
  text-transform: uppercase;
}
@media screen and (max-width: 849px) {
  /* line 634, ../scss/_local_css.scss */
  .archiveList .articleItem .timestamp {
    line-height: 28px;
  }
}
/* line 652, ../scss/_local_css.scss */
.archiveList .articleItem p {
  font-family: Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 1.125rem;
  line-height: 28px;
  display: inline;
  color: #222;
}
@media screen and (max-width: 849px) {
  /* line 652, ../scss/_local_css.scss */
  .archiveList .articleItem p {
    line-height: 28px;
  }
}

/* line 666, ../scss/_local_css.scss */
article {
  margin: auto;
  max-width: 58rem;
  padding-bottom: 2.8125rem;
}
/* line 671, ../scss/_local_css.scss */
article h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: #000;
}
/* line 675, ../scss/_local_css.scss */
article h1.articleTitle {
  font-size: 3.4375rem;
  line-height: 56px;
  text-align: center;
  padding: 0 3.375rem 0 3.375rem;
  margin: 3rem 0 2.9375rem 0;
}
@media screen and (max-width: 849px) {
  /* line 675, ../scss/_local_css.scss */
  article h1.articleTitle {
    font-size: 3.125rem;
    padding: 0 5.1875rem 0 5.1875rem;
    line-height: 45px;
    margin: 2.875rem 0 2.75rem 0;
  }
}
@media screen and (max-width: 767px) {
  /* line 675, ../scss/_local_css.scss */
  article h1.articleTitle {
    font-size: 1.375rem;
    padding: 0 1.0625rem 0 1.0625rem;
    line-height: 21px;
    margin: 1.75rem 0 1.625rem 0;
  }
}
/* line 695, ../scss/_local_css.scss */
article h1.contentTitle {
  font-size: 2.25rem;
  line-height: 36px;
  padding: 0 3.375rem 0 3.375rem;
  margin: 2.1875rem 0 1.25rem 0;
}
@media screen and (max-width: 849px) {
  /* line 695, ../scss/_local_css.scss */
  article h1.contentTitle {
    font-size: 1.75rem;
    padding: 0 5.1875rem 0 5.1875rem;
    line-height: 28px;
  }
}
@media screen and (max-width: 767px) {
  /* line 695, ../scss/_local_css.scss */
  article h1.contentTitle {
    font-size: 1.5625rem;
    padding: 0 0.6875rem 0 0.6875rem;
    line-height: 28px;
  }
}
/* line 712, ../scss/_local_css.scss */
article .subheader {
  padding: 0 3.375rem 0 3.375rem;
}
@media screen and (max-width: 849px) {
  /* line 712, ../scss/_local_css.scss */
  article .subheader {
    padding: 0 4.1875rem 0 4.1875rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 712, ../scss/_local_css.scss */
  article .subheader {
    padding: 0 0.6875rem 0 0.6875rem;
  }
}
/* line 720, ../scss/_local_css.scss */
article .subheader h2 {
  font-family: Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 1.875rem;
  line-height: 32px;
  padding: 0 0 1.25rem 0;
  margin: 0;
}
@media screen and (max-width: 849px) {
  /* line 720, ../scss/_local_css.scss */
  article .subheader h2 {
    font-size: 1.375rem;
    line-height: 32px;
  }
}
@media screen and (max-width: 767px) {
  /* line 720, ../scss/_local_css.scss */
  article .subheader h2 {
    font-size: 1.25rem;
    line-height: 22px;
  }
}
/* line 736, ../scss/_local_css.scss */
article .copy {
  padding: 0 3.375rem 0 3.375rem;
}
@media screen and (max-width: 849px) {
  /* line 736, ../scss/_local_css.scss */
  article .copy {
    padding: 0 4.1875rem 0 4.1875rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 736, ../scss/_local_css.scss */
  article .copy {
    padding: 0 0.6875rem 0 0.6875rem;
  }
}
/* line 744, ../scss/_local_css.scss */
article .copy h2 {
  font-size: 1.875rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #222;
  padding: 0 0 0.9375rem 0;
  margin: 0;
  line-height: 44px;
}
@media screen and (max-width: 849px) {
  /* line 744, ../scss/_local_css.scss */
  article .copy h2 {
    font-size: 1.75rem;
    line-height: 28px;
  }
}
@media screen and (max-width: 849px) {
  /* line 744, ../scss/_local_css.scss */
  article .copy h2 {
    font-size: 1.25rem;
    line-height: 22px;
  }
}
/* line 761, ../scss/_local_css.scss */
article .copy h3 {
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #222;
  margin: 0;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  /* line 761, ../scss/_local_css.scss */
  article .copy h3 {
    font-size: 1.125rem;
  }
}
/* line 772, ../scss/_local_css.scss */
article .copy p {
  font-family: Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 1.125rem;
  color: #222;
  line-height: 30px;
  margin: 0;
  padding: 0 0 1.875rem 0;
}
@media screen and (max-width: 849px) {
  /* line 772, ../scss/_local_css.scss */
  article .copy p {
    line-height: 28px;
  }
}
/* line 783, ../scss/_local_css.scss */
article .copy a {
  color: #882346;
  padding-bottom: 3px;
  font-weight: bolder;
  text-decoration: none;
  border-bottom: 3px solid #882346;
}
/* line 791, ../scss/_local_css.scss */
article .update {
  background-color: #e5e5e5;
  padding: 1.6875rem 2.125rem;
  margin: 0 1.25rem 2.1875rem 1.25rem;
}
@media screen and (max-width: 849px) {
  /* line 791, ../scss/_local_css.scss */
  article .update {
    margin: 0 2.9375rem 2.1875rem 2.9375rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 791, ../scss/_local_css.scss */
  article .update {
    padding: 0.4375rem 0.5625rem;
    margin: 0 0.6875rem 2.1875rem 0.6875rem;
  }
}
/* line 802, ../scss/_local_css.scss */
article .update p {
  font-family: Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 1.125rem;
  line-height: 30px;
  margin-top: 30px;
  color: #222;
}
/* line 809, ../scss/_local_css.scss */
article .update p:first-of-type {
  display: inline;
}
@media screen and (max-width: 849px) {
  /* line 802, ../scss/_local_css.scss */
  article .update p {
    line-height: 28px;
  }
}
/* line 819, ../scss/_local_css.scss */
article .update a {
  color: #882346;
  padding-bottom: 3px;
  font-weight: bolder;
  text-decoration: none;
  border-bottom: 3px solid #882346;
}
/* line 826, ../scss/_local_css.scss */
article .update .timestamp {
  font-family: Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 1.125rem;
  line-height: 30px;
  color: #222;
  display: inline;
}
/* line 834, ../scss/_local_css.scss */
article .update .timestamp .bolded {
  font-weight: bolder;
}
/* line 836, ../scss/_local_css.scss */
article .update .timestamp .bolded .upper {
  text-transform: uppercase;
}
@media screen and (max-width: 849px) {
  /* line 826, ../scss/_local_css.scss */
  article .update .timestamp {
    line-height: 28px;
  }
}
/* line 846, ../scss/_local_css.scss */
article .update .updateImage img {
  margin-top: 1.5625rem;
  display: block;
  width: 100%;
  border: 2px solid #707070;
  box-sizing: border-box;
}
/* line 855, ../scss/_local_css.scss */
article .featureImage {
  margin: 0 1.25rem 1.5625rem 1.25rem;
}
@media screen and (max-width: 849px) {
  /* line 855, ../scss/_local_css.scss */
  article .featureImage {
    margin: 0 2.9375rem 1.5625rem 2.9375rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 855, ../scss/_local_css.scss */
  article .featureImage {
    margin: 0 0.6875rem 1.5625rem 0.6875rem;
  }
}
/* line 863, ../scss/_local_css.scss */
article .featureImage img {
  display: block;
  width: 100%;
}
/* line 868, ../scss/_local_css.scss */
article .floatImage {
  float: right;
  margin: 0.5rem 3.375rem 0.625rem 0.625rem;
  max-width: 17.1875rem;
}
@media screen and (max-width: 849px) {
  /* line 868, ../scss/_local_css.scss */
  article .floatImage {
    float: none;
    max-width: 100%;
    margin: 0 7.3125rem 0.625rem 7.3125rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 868, ../scss/_local_css.scss */
  article .floatImage {
    float: none;
    margin: 0 0.6875rem 0.625rem 0.6875rem;
  }
}
/* line 881, ../scss/_local_css.scss */
article .floatImage img {
  display: block;
  width: 100%;
}
/* line 885, ../scss/_local_css.scss */
article .floatImage .caption {
  font-family: Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 0.8125rem;
  color: #222;
  margin: 0.5rem 0 0 0;
}
@media screen and (max-width: 849px) {
  /* line 885, ../scss/_local_css.scss */
  article .floatImage .caption {
    font-size: 1rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 885, ../scss/_local_css.scss */
  article .floatImage .caption {
    font-size: 0.75rem;
    margin: 0.5rem 0.1875rem 0 0.1875rem;
  }
}
/* line 898, ../scss/_local_css.scss */
article .floatImage .photoCredit {
  font-family: Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 0.9375rem;
  font-style: italic;
  color: #a2a2a2;
  margin: 0;
}
@media screen and (max-width: 767px) {
  /* line 898, ../scss/_local_css.scss */
  article .floatImage .photoCredit {
    font-size: 0.75rem;
    margin: 0 0.1875rem 0 0.1875rem;
  }
}
/* line 910, ../scss/_local_css.scss */
article .quote {
  float: left;
  max-width: 17.1875rem;
  margin: 0 2.1875rem 0 3.375rem;
}
@media screen and (max-width: 849px) {
  /* line 910, ../scss/_local_css.scss */
  article .quote {
    float: none;
    max-width: 100%;
    margin: 0 4rem 0 4rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 910, ../scss/_local_css.scss */
  article .quote {
    float: none;
    max-width: 100%;
    margin: 0 1rem 0 1rem;
  }
}
/* line 926, ../scss/_local_css.scss */
article .quote .doubleQuotes {
  background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat -240px -45px;
  width: 2.125rem;
  height: 1.875rem;
}
@media screen and (max-width: 767px) {
  /* line 926, ../scss/_local_css.scss */
  article .quote .doubleQuotes {
    background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat -240px -80px;
    width: 1.5rem;
    height: 1.375rem;
  }
}
/* line 937, ../scss/_local_css.scss */
article .quote p {
  font-size: 1.625rem;
  font-family: Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  margin: 0 0 0 2.875rem;
  position: relative;
  top: -23px;
  line-height: 30px;
}
@media screen and (max-width: 849px) {
  /* line 937, ../scss/_local_css.scss */
  article .quote p {
    font-size: 2.25rem;
    margin: 0 0 0 3.4375rem;
    line-height: 45px;
    top: -15px;
  }
}
@media screen and (max-width: 767px) {
  /* line 937, ../scss/_local_css.scss */
  article .quote p {
    font-size: 1.5rem;
    margin: 0 0 0 2.8125rem;
    line-height: 28px;
    top: -21px;
  }
}
/* line 959, ../scss/_local_css.scss */
article .video {
  margin: 0 3.375rem 2.5rem 3.375rem;
  position: relative;
  padding-bottom: 49.65%;
  /* 16:9 */
  height: 0;
}
@media screen and (max-width: 849px) {
  /* line 959, ../scss/_local_css.scss */
  article .video {
    margin: 0 4.1875rem 2.5rem 4.1875rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 959, ../scss/_local_css.scss */
  article .video {
    margin: 0 0.6875rem 2.5rem 0.6875rem;
  }
}
/* line 971, ../scss/_local_css.scss */
article .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 979, ../scss/_local_css.scss */
article .articleImage {
  margin: 0 3.375rem 2.5rem 3.375rem;
}
@media screen and (max-width: 849px) {
  /* line 979, ../scss/_local_css.scss */
  article .articleImage {
    margin: 0 4rem 2.5rem 4rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 979, ../scss/_local_css.scss */
  article .articleImage {
    margin: 0 0.6875rem 2.5rem 0.6875rem;
  }
}
/* line 987, ../scss/_local_css.scss */
article .articleImage img {
  display: block;
  width: 100%;
}
/* line 993, ../scss/_local_css.scss */
article .byline p {
  font-size: 1.125rem;
  font-family: Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  margin: 0 0 1.875rem 1.4375rem;
}
@media screen and (max-width: 849px) {
  /* line 993, ../scss/_local_css.scss */
  article .byline p {
    margin: 0 0 1.4375rem 2.9375rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 993, ../scss/_local_css.scss */
  article .byline p {
    display: none;
  }
}
/* line 1003, ../scss/_local_css.scss */
article .byline p.phone {
  display: none;
}
@media screen and (max-width: 767px) {
  /* line 1003, ../scss/_local_css.scss */
  article .byline p.phone {
    display: block;
    margin: 0 0 1.4375rem 0.6875rem;
  }
}
/* line 1011, ../scss/_local_css.scss */
article .byline .name {
  font-weight: bolder;
}
/* line 1014, ../scss/_local_css.scss */
article .byline a {
  text-decoration: none;
  text-transform: uppercase;
  color: #882346;
  font-weight: bolder;
}
/* line 1019, ../scss/_local_css.scss */
article .byline a:hover {
  text-decoration: underline;
}
/* line 1024, ../scss/_local_css.scss */
article .share {
  float: right;
  margin: 0 1.4375rem 0 0;
}
@media screen and (max-width: 849px) {
  /* line 1024, ../scss/_local_css.scss */
  article .share {
    margin: 0 2.9375rem 0 0;
  }
}
@media screen and (max-width: 767px) {
  /* line 1024, ../scss/_local_css.scss */
  article .share {
    margin: 0 0.6875rem 0 0;
  }
}
/* line 1034, ../scss/_local_css.scss */
article .gallery {
  border: 1px solid #882346;
  margin: 0 1.25rem 1.5625rem 1.25rem;
}
@media screen and (max-width: 849px) {
  /* line 1034, ../scss/_local_css.scss */
  article .gallery {
    margin: 0 2.9375rem 1.5625rem 2.9375rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 1034, ../scss/_local_css.scss */
  article .gallery {
    margin: 0 0.6875rem 1.5625rem 0.6875rem;
  }
}
/* line 1046, ../scss/_local_css.scss */
article .gallery .thumbnailImages {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  justify-content: space-between;
}
@media screen and (max-width: 849px) {
  /* line 1046, ../scss/_local_css.scss */
  article .gallery .thumbnailImages {
    grid-template-columns: auto auto auto auto auto auto;
  }
}
@media screen and (max-width: 767px) {
  /* line 1046, ../scss/_local_css.scss */
  article .gallery .thumbnailImages {
    grid-template-columns: auto auto auto auto auto;
  }
}
/* line 1056, ../scss/_local_css.scss */
article .gallery .thumbnailImages button.thumb {
  cursor: pointer;
  border-width: 0;
  background-color: #fff;
  padding: 0;
  width: 6.875rem;
  height: 6.875rem;
  margin: 0 0 1.25rem 0;
}
@media screen and (max-width: 767px) {
  /* line 1056, ../scss/_local_css.scss */
  article .gallery .thumbnailImages button.thumb {
    width: 3.125rem;
    height: 3.125rem;
    margin: 0 0 0.625rem 0;
  }
}
/* line 1069, ../scss/_local_css.scss */
article .gallery .thumbnailImages button.thumb img {
  display: block;
  width: 100%;
}
/* line 1078, ../scss/_local_css.scss */
article .gallery .mainImage button.main {
  cursor: pointer;
  border-width: 0;
  text-align: initial;
  background-color: #fff;
  padding: 0 !important;
}
/* line 1096, ../scss/_local_css.scss */
article .gallery .lightboxImages {
  position: fixed;
  z-index: 2500;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}
/* line 1112, ../scss/_local_css.scss */
article .gallery .lightboxImages .lightboxElement .image img {
  display: block;
  width: 100%;
}

/* line 1136, ../scss/_local_css.scss */
.closing {
  margin: auto;
  max-width: 58rem;
}
/* line 1139, ../scss/_local_css.scss */
.closing .line {
  border-top: 1px solid #707070;
  margin: 0 1.25rem 6.875rem 1.25rem;
}
@media screen and (max-width: 849px) {
  /* line 1139, ../scss/_local_css.scss */
  .closing .line {
    margin: 0 2.9375rem 5rem 2.9375rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 1139, ../scss/_local_css.scss */
  .closing .line {
    margin: 0 0.5rem 5rem 0.5rem;
  }
}
/* line 1149, ../scss/_local_css.scss */
.closing .tags {
  margin: 3.75rem 0 0 0.1875rem;
}
@media screen and (max-width: 767px) {
  /* line 1149, ../scss/_local_css.scss */
  .closing .tags {
    margin: 2.5rem auto 0 auto;
    display: flex;
    justify-content: space-around;
  }
}
/* line 1157, ../scss/_local_css.scss */
.closing .tags a {
  border: 1px solid #707070;
  padding: 0.625rem 1.5625rem;
  margin-right: 0.75rem;
  font-size: 0.875rem;
  font-family: Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #707070;
}
@media screen and (max-width: 767px) {
  /* line 1157, ../scss/_local_css.scss */
  .closing .tags a {
    font-size: 0.625rem;
    padding: 0.625rem 1.5625rem;
    margin-right: 0;
  }
}
/* line 1172, ../scss/_local_css.scss */
.closing .tags a:hover {
  text-decoration: underline;
}
/* line 1177, ../scss/_local_css.scss */
.closing .share {
  float: right;
  margin: 3.75rem 0 0 0;
}
@media screen and (max-width: 767px) {
  /* line 1177, ../scss/_local_css.scss */
  .closing .share {
    margin: 2.5rem 0 0 0;
    float: none;
    display: flex;
    justify-content: center;
  }
}

/* line 1191, ../scss/_local_css.scss */
footer .full-width {
  width: 100%;
  max-width: 100%;
}
/* line 1195, ../scss/_local_css.scss */
footer .navigation {
  background-color: #d9d9d9;
  height: 15.25rem;
  margin: auto;
  max-width: 100%;
}
/* line 1201, ../scss/_local_css.scss */
footer .navigation nav {
  max-width: 58rem;
  margin: auto;
}
/* line 1204, ../scss/_local_css.scss */
footer .navigation nav ul {
  margin: 0;
  padding: 7.125rem 4.625rem 0 4.625rem;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 767px) {
  /* line 1204, ../scss/_local_css.scss */
  footer .navigation nav ul {
    padding: 2.5rem 0 0 0;
    flex-direction: column;
    justify-content: space-between;
    height: 167px;
  }
}
@media screen and (max-width: 767px) {
  /* line 1217, ../scss/_local_css.scss */
  footer .navigation nav ul li {
    text-align: center;
  }
}
/* line 1223, ../scss/_local_css.scss */
footer .navigation nav ul li a {
  font-family: Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  color: #707070;
  font-size: 1rem;
  font-weight: bolder;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 1230, ../scss/_local_css.scss */
footer .navigation nav ul li a:hover {
  text-decoration: underline;
}
/* line 1238, ../scss/_local_css.scss */
footer .bottom {
  background-color: #882346;
  height: 4.375rem;
}
@media screen and (max-width: 767px) {
  /* line 1238, ../scss/_local_css.scss */
  footer .bottom {
    height: 9.375rem;
  }
}
/* line 1244, ../scss/_local_css.scss */
footer .bottom .elements {
  margin: auto;
  max-width: 58rem;
  height: 4.375rem;
}
@media screen and (max-width: 767px) {
  /* line 1244, ../scss/_local_css.scss */
  footer .bottom .elements {
    height: 9.375rem;
  }
}
/* line 1251, ../scss/_local_css.scss */
footer .bottom .elements .social {
  float: right;
  margin: 1.5625rem 1.75rem 0 0;
}
@media screen and (max-width: 767px) {
  /* line 1251, ../scss/_local_css.scss */
  footer .bottom .elements .social {
    width: 250px;
    margin: auto;
    float: none;
    display: flex;
    justify-content: space-around;
    padding: 2rem 0 1.4375rem 0;
  }
}
/* line 1265, ../scss/_local_css.scss */
footer .bottom .elements .social .icon a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
/* line 1272, ../scss/_local_css.scss */
footer .bottom .elements .social .instagram {
  display: inline-block;
  background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat 0px -43px;
  width: 1.1875rem;
  height: 1.25rem;
  margin-right: 1.5rem;
}
/* line 1279, ../scss/_local_css.scss */
footer .bottom .elements .social .twitter {
  display: inline-block;
  background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat -32px -45px;
  width: 1.1875rem;
  height: 1.0625rem;
  margin-right: 1.5rem;
}
/* line 1286, ../scss/_local_css.scss */
footer .bottom .elements .social .facebook {
  display: inline-block;
  background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat -60px -43px;
  width: 0.625rem;
  height: 1.1875rem;
}
/* line 1293, ../scss/_local_css.scss */
footer .bottom .elements .copyright {
  height: 4.375rem;
}
@media screen and (max-width: 767px) {
  /* line 1293, ../scss/_local_css.scss */
  footer .bottom .elements .copyright {
    margin: 0 auto 0 auto;
    width: 17.375rem;
  }
}
/* line 1302, ../scss/_local_css.scss */
footer .bottom .elements .copyright .cuny {
  display: inline-block;
  background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat -240px 0px;
  width: 2.8125rem;
  height: 2.75rem;
  margin: 0.8125rem 0 0 1.75rem;
}
@media screen and (max-width: 767px) {
  /* line 1302, ../scss/_local_css.scss */
  footer .bottom .elements .copyright .cuny {
    margin-left: 0;
  }
}
/* line 1311, ../scss/_local_css.scss */
footer .bottom .elements .copyright .cuny a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
/* line 1318, ../scss/_local_css.scss */
footer .bottom .elements .copyright .copy {
  display: inline-block;
  position: absolute;
  border-left: 2px solid #fff;
  height: 2.75rem;
  margin: 0.8125rem 0.5625rem 0 0.875rem;
}
@media screen and (max-width: 767px) {
  /* line 1318, ../scss/_local_css.scss */
  footer .bottom .elements .copyright .copy {
    margin-right: 0;
  }
}
/* line 1328, ../scss/_local_css.scss */
footer .bottom .elements .copyright .copy p {
  font-family: Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  color: #fff;
  font-size: 0.75rem;
  margin: 0.9375rem 0 0 0.875rem;
  padding: 0;
}

/* line 1344, ../scss/_local_css.scss */
.share .icon a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
/* line 1351, ../scss/_local_css.scss */
.share .email {
  display: inline-block;
  background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat 0px 0px;
  width: 1.8125rem;
  height: 1.25rem;
  margin-right: 1.5rem;
}
/* line 1358, ../scss/_local_css.scss */
.share .twitter {
  display: inline-block;
  background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat -32px 0px;
  width: 1.5625rem;
  height: 1.25rem;
  margin-right: 1.5rem;
}
/* line 1365, ../scss/_local_css.scss */
.share .facebook {
  display: inline-block;
  background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat -60px 0px;
  width: 0.6875rem;
  height: 1.25rem;
}
@media screen and (max-width: 767px) {
  /* line 1371, ../scss/_local_css.scss */
  .share.open {
    margin-top: 0.1875rem;
  }
  /* line 1374, ../scss/_local_css.scss */
  .share.open .email {
    background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat 0px -25px;
    width: 1.25rem;
    height: 0.875rem;
    margin-right: 0.625rem;
  }
  /* line 1380, ../scss/_local_css.scss */
  .share.open .twitter {
    background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat -32px -25px;
    width: 1.0625rem;
    height: 0.875rem;
    margin-right: 0.625rem;
  }
  /* line 1386, ../scss/_local_css.scss */
  .share.open .facebook {
    background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat -60px -25px;
    width: 0.5rem;
    height: 0.875rem;
  }
}

/* line 1398, ../scss/_local_css.scss */
#skipnav a, a.skipTranscript {
  position: absolute;
  z-index: 3000;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  padding-bottom: 25px;
}

/* line 1406, ../scss/_local_css.scss */
#skipnav a:hover, #skipnav a:focus, #skipnav a:active {
  clip: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 10px 0;
  background: #fdf6e7;
  border: 2px solid #990000;
  border-left: none;
  border-right: none;
  text-align: center;
  font-weight: bold;
  color: #990000;
}
