@charset "UTF-8";
/* CSS Document */
/* CSS Document */
/* CSS Document */
@font-face {
  font-family: 'ComeniaSansCondRegular';
  src: url("http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co-webfont.eot");
  src: local("☺"), url("http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co-webfont.woff") format("woff"), url("http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co-webfont.ttf") format("truetype"), url("http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co-webfont.svg#webfontWDfTSCpx") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ComeniaSansCondBold';
  src: url("http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co_bold-webfont.eot");
  src: local("☺"), url("http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co_bold-webfont.woff") format("woff"), url("http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co_bold-webfont.ttf") format("truetype"), url("http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co_bold-webfont.svg#webfont7RYPTQcC") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arial';
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arial-Bold';
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("http://www.brooklyn.cuny.edu/web/fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url("http://www.brooklyn.cuny.edu/web/fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Roboto-Black';
  src: url("http://www.brooklyn.cuny.edu/web/fonts/Roboto-Black.ttf") format("truetype");
}
@font-face {
  font-family: 'Roboto-Italic';
  src: url("http://www.brooklyn.cuny.edu/web/fonts/Roboto-Italic.ttf") format("truetype");
}
/*@font-face { font-family: 'PMN-Caecilia-55-Roman'; src: url('http://www.brooklyn.cuny.edu/web/fonts/XXX') format('truetype'); }
@font-face { font-family: 'PMN-Caecilia-56-Italic'; src: url('http://www.brooklyn.cuny.edu/web/fonts/XXX') format('truetype'); }*/
@font-face {
  font-family: 'Barlow';
  src: url("http://www.brooklyn.cuny.edu/web/fonts/BarlowSemiCondensed-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Barlow-Bold';
  src: url("http://www.brooklyn.cuny.edu/web/fonts/BarlowSemiCondensed-Bold.ttf") format("truetype");
}
/* line 198, ../scss/_local_css.scss */
body {
  background-color: #fff;
  padding: 0;
  margin: 0;
}
/* line 203, ../scss/_local_css.scss */
body.modal {
  overflow: hidden;
}

/* line 208, ../scss/_local_css.scss */
.full-width {
  max-width: 100%;
}

/* line 214, ../scss/_local_css.scss */
.hidden {
  display: none;
}

/* line 219, ../scss/_local_css.scss */
*:focus {
  outline: 3px solid #FAD129;
}

@-webkit-keyframes "FadeIn" {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes "FadeIn" {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* line 229, ../scss/_local_css.scss */
header .full-width {
  z-index: 1000;
  position: fixed;
  background-color: #882346;
  width: 100%;
  max-width: 100%;
  height: 2.8125rem;
}
/* line 236, ../scss/_local_css.scss */
header .full-width nav.desktop {
  margin: auto;
  max-width: 58rem;
}
/* line 240, ../scss/_local_css.scss */
header .full-width nav.desktop ul {
  margin: 0;
  padding: 0.875rem 0 0 1.5rem;
  list-style-type: none;
}
/* line 244, ../scss/_local_css.scss */
header .full-width nav.desktop ul li {
  display: inline-block;
  padding-right: 2.8125rem;
}
/* line 247, ../scss/_local_css.scss */
header .full-width nav.desktop ul li a {
  font-family: "Arial-Bold", sans-serif;
  color: #fff;
  font-size: 1rem;
  font-weight: bolder;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 254, ../scss/_local_css.scss */
header .full-width nav.desktop ul li a:hover {
  color: #d9d9d9;
}
@media screen and (max-width: 767px) {
  /* line 236, ../scss/_local_css.scss */
  header .full-width nav.desktop {
    display: none;
  }
}
/* line 265, ../scss/_local_css.scss */
header .full-width .mobile-toggle {
  display: none;
  margin: auto;
  max-width: 58rem;
  margin: 0 0 0 1.5rem;
  width: 3rem;
  height: 2.8125rem;
  background-color: #4B091F;
}
@media screen and (max-width: 767px) {
  /* line 265, ../scss/_local_css.scss */
  header .full-width .mobile-toggle {
    display: inline-block;
    animation: FadeIn .75s;
  }
}
/* line 277, ../scss/_local_css.scss */
header .full-width .mobile-toggle .lines {
  background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat -290px -25px;
  width: 1.75rem;
  height: 1.5625rem;
  cursor: pointer;
  animation: FadeIn .75s;
  margin: 0.625rem 0 0 0.625rem;
}
/* line 285, ../scss/_local_css.scss */
header .full-width .mobile-toggle .ex {
  background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat -290px 0px;
  width: 1.4375rem;
  height: 1.4375rem;
  cursor: pointer;
  animation: FadeIn .75s;
  margin: 0.75rem 0 0 0.8125rem;
}
/* line 295, ../scss/_local_css.scss */
header .mobile-white {
  padding-top: 2.8125rem;
  z-index: 900;
  position: fixed;
  width: 100%;
  height: 110%;
  overflow: auto;
  background-color: #fff;
}
/* line 303, ../scss/_local_css.scss */
header .mobile-white .logo {
  display: block;
  margin: 1.25rem 0 1.25rem 1rem;
  background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat -231px -105px;
  background-origin: content-box;
  width: 7.125rem;
  height: 2.25rem;
}
/* line 312, ../scss/_local_css.scss */
header .mobile-white nav.mobile ul {
  margin: 0;
  padding: 2rem 0 2rem 1.25rem;
  list-style-type: none;
}
/* line 316, ../scss/_local_css.scss */
header .mobile-white nav.mobile ul li {
  padding: 0 0 2.9375rem 0;
}
/* line 318, ../scss/_local_css.scss */
header .mobile-white nav.mobile ul li a {
  font-family: "Arial", sans-serif;
  font-size: 1.125rem;
  color: #716F6F;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 324, ../scss/_local_css.scss */
header .mobile-white nav.mobile ul li a:hover {
  text-decoration: underline;
}
/* line 333, ../scss/_local_css.scss */
header .brand {
  padding-top: 2.8125rem;
  max-width: 58rem;
  margin: auto;
  border-bottom: 1px solid #707070;
}
@media screen and (max-width: 849px) {
  /* line 333, ../scss/_local_css.scss */
  header .brand {
    margin: 0 2.9375rem 0 2.9375rem;
  }
}
@media screen and (max-width: 849px) {
  /* line 333, ../scss/_local_css.scss */
  header .brand {
    margin: 0 0.5rem 0 0.5rem;
  }
}
/* line 344, ../scss/_local_css.scss */
header .brand .logo {
  display: block;
  margin: 1.875rem auto 1rem auto;
  background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat 0px -67px;
  width: 14.25rem;
  height: 4.125rem;
}
@media screen and (max-width: 849px) {
  /* line 344, ../scss/_local_css.scss */
  header .brand .logo {
    margin: 1.875rem auto 0.5rem auto;
    background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat -77px 0px;
    width: 10.125rem;
    height: 2.9375rem;
  }
}
/* line 358, ../scss/_local_css.scss */
header .brand .logo a {
  width: 100%;
  height: 100%;
  display: inline-block;
}

/* line 371, ../scss/_local_css.scss */
.homepageList {
  margin: 0 auto 4.0625rem auto;
  max-width: 58rem;
  padding: 1.875rem 0 0 0;
}
@media screen and (max-width: 767px) {
  /* line 371, ../scss/_local_css.scss */
  .homepageList {
    margin: 0 auto 1.9375rem auto;
    padding: 1.25rem 0 0 0;
  }
}
/* line 380, ../scss/_local_css.scss */
.homepageList .articleItem {
  margin: 0 1.25rem 5.125rem 1.25rem;
  position: relative;
}
/* line 384, ../scss/_local_css.scss */
.homepageList .articleItem:first-of-type {
  margin-top: 0;
}
/* line 387, ../scss/_local_css.scss */
.homepageList .articleItem:last-of-type {
  margin-bottom: 0;
}
@media screen and (max-width: 849px) {
  /* line 380, ../scss/_local_css.scss */
  .homepageList .articleItem {
    margin: 0 2.9375rem 4.6875rem 2.9375rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 380, ../scss/_local_css.scss */
  .homepageList .articleItem {
    margin: 1.4375rem 0.5rem 0 0.5rem;
    border-bottom: 1px solid #ededed;
  }
  /* line 396, ../scss/_local_css.scss */
  .homepageList .articleItem:last-of-type {
    border-bottom: none;
  }
}
/* line 401, ../scss/_local_css.scss */
.homepageList .articleItem a img {
  display: block;
  max-width: 100%;
  border: 2px solid #707070;
  box-sizing: border-box;
}
/* line 407, ../scss/_local_css.scss */
.homepageList .articleItem a .updated {
  background-color: #444;
  padding: 0.375rem 0.8125rem 0.25rem;
  position: absolute;
  top: 0.9375rem;
  right: 0.9375rem;
  color: #fff;
  font-family: "Arial", sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  /* line 407, ../scss/_local_css.scss */
  .homepageList .articleItem a .updated {
    top: 0.5rem;
    right: 0.5rem;
  }
}
/* line 424, ../scss/_local_css.scss */
.homepageList .articleItem a .video {
  background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat 0px -135px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0.9375rem;
  right: 0.9375rem;
  width: 2.1875rem;
  height: 2.1875rem;
}
@media screen and (max-width: 767px) {
  /* line 424, ../scss/_local_css.scss */
  .homepageList .articleItem a .video {
    background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat -70px -135px;
    width: 1.375rem;
    height: 1.375rem;
    top: 0.75rem;
    right: 0.75rem;
  }
}
/* line 441, ../scss/_local_css.scss */
.homepageList .articleItem a .gallery {
  background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat -35px -135px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0.9375rem;
  right: 0.9375rem;
  width: 2.1875rem;
  height: 2.1875rem;
}
@media screen and (max-width: 767px) {
  /* line 441, ../scss/_local_css.scss */
  .homepageList .articleItem a .gallery {
    background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat -92px -135px;
    width: 1.375rem;
    height: 1.375rem;
    top: 0.75rem;
    right: 0.75rem;
  }
}
/* line 459, ../scss/_local_css.scss */
.homepageList .articleItem .copy {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.16);
  position: relative;
  top: -162px;
  max-width: 100%;
  margin: 0 5.8125rem -10.125rem 5.8125rem;
  padding: 1.25rem 1.5625rem 1.5625rem 1.5625rem;
  z-index: 2;
}
@media screen and (max-width: 849px) {
  /* line 459, ../scss/_local_css.scss */
  .homepageList .articleItem .copy {
    top: -137px;
    margin: 0 4.875rem -8.5625rem 4.875rem;
    padding: 1.25rem 1.75rem 1.25rem 1.75rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 459, ../scss/_local_css.scss */
  .homepageList .articleItem .copy {
    top: 0;
    box-shadow: none;
    margin: 0;
    padding: 1.125rem 0 2.125rem 0;
    background-color: #fff;
    box-shadow: none;
  }
}
/* line 482, ../scss/_local_css.scss */
.homepageList .articleItem .copy h2 {
  font-family: "Roboto-Black", serif;
  color: #000;
  font-size: 2.625rem;
  margin: 0 0 1.25rem 0;
  padding: 0;
  line-height: 44px;
}
@media screen and (max-width: 849px) {
  /* line 482, ../scss/_local_css.scss */
  .homepageList .articleItem .copy h2 {
    font-size: 2.1875rem;
    line-height: 35px;
  }
}
@media screen and (max-width: 767px) {
  /* line 482, ../scss/_local_css.scss */
  .homepageList .articleItem .copy h2 {
    font-size: 1.5rem;
    line-height: 24px;
    margin: 0 0 0.8125rem 0;
  }
}
/* line 499, ../scss/_local_css.scss */
.homepageList .articleItem .copy h2 a {
  color: #000;
  text-decoration: none;
}
/* line 504, ../scss/_local_css.scss */
.homepageList .articleItem .copy p {
  font-family: "PMN-Caecilia-56-Italic", serif;
  font-size: 1.25rem;
  line-height: 24px;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 849px) {
  /* line 504, ../scss/_local_css.scss */
  .homepageList .articleItem .copy p {
    font-size: 1rem;
    line-height: 19px;
  }
}
@media screen and (max-width: 767px) {
  /* line 504, ../scss/_local_css.scss */
  .homepageList .articleItem .copy p {
    font-size: 0.9375rem;
    line-height: 16px;
  }
}

/* line 523, ../scss/_local_css.scss */
.archiveList {
  margin: 0 auto 4.0625rem auto;
  max-width: 58rem;
  padding: 0;
}
@media screen and (max-width: 767px) {
  /* line 523, ../scss/_local_css.scss */
  .archiveList {
    margin: 0 auto 4.375rem auto;
    padding: 1.25rem 0 0 0;
  }
}
/* line 532, ../scss/_local_css.scss */
.archiveList .filter {
  margin: 1.875rem 1.25rem 2.5rem 1.25rem;
}
@media screen and (max-width: 849px) {
  /* line 532, ../scss/_local_css.scss */
  .archiveList .filter {
    margin: 1.875rem 2.9375rem 1.25rem 2.9375rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 532, ../scss/_local_css.scss */
  .archiveList .filter {
    margin: 1.25rem 0.6875rem 1.25rem 0.6875rem;
  }
}
/* line 540, ../scss/_local_css.scss */
.archiveList .filter p {
  font-family: "Roboto-Black", serif;
  font-size: 1.625rem;
  color: #716F6F;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 767px) {
  /* line 540, ../scss/_local_css.scss */
  .archiveList .filter p {
    font-size: 1.375rem;
    text-align: center;
  }
}
/* line 554, ../scss/_local_css.scss */
.archiveList .articleItem {
  margin: 2.5rem 1.25rem 2.5rem 1.25rem;
  padding: 0 0 2.1875rem 0;
  border-bottom: 1px solid #ededed;
}
/* line 559, ../scss/_local_css.scss */
.archiveList .articleItem:first-of-type {
  margin-top: 0;
}
/* line 562, ../scss/_local_css.scss */
.archiveList .articleItem:last-of-type {
  margin-bottom: 0;
  border-bottom: none;
}
@media screen and (max-width: 849px) {
  /* line 554, ../scss/_local_css.scss */
  .archiveList .articleItem {
    margin: 0 2.9375rem 2.5rem 2.9375rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 554, ../scss/_local_css.scss */
  .archiveList .articleItem {
    margin: 1.4375rem 0.5rem 0 0.5rem;
    border-bottom: 1px solid #ededed;
  }
  /* line 572, ../scss/_local_css.scss */
  .archiveList .articleItem:last-of-type {
    border-bottom: none;
    padding: 0;
  }
}
/* line 577, ../scss/_local_css.scss */
.archiveList .articleItem h2 {
  font-family: "Roboto-Black", serif;
  font-size: 2.625rem;
  text-align: center;
  line-height: 46px;
  margin: 0 0 0.9375rem 0;
}
/* line 584, ../scss/_local_css.scss */
.archiveList .articleItem h2 a {
  color: #000;
  text-decoration: none;
}
@media screen and (max-width: 849px) {
  /* line 577, ../scss/_local_css.scss */
  .archiveList .articleItem h2 {
    font-size: 2.375rem;
    line-height: 42px;
  }
}
@media screen and (max-width: 767px) {
  /* line 577, ../scss/_local_css.scss */
  .archiveList .articleItem h2 {
    font-size: 2.25rem;
    line-height: 30px;
  }
}
/* line 597, ../scss/_local_css.scss */
.archiveList .articleItem .image {
  position: relative;
  margin: 0 0 1.25rem 0;
}
/* line 600, ../scss/_local_css.scss */
.archiveList .articleItem .image img {
  display: block;
  max-width: 100%;
  border: 2px solid #707070;
  box-sizing: border-box;
}
/* line 606, ../scss/_local_css.scss */
.archiveList .articleItem .image .updated {
  position: absolute;
  background-color: #444;
  padding: 0.375rem 0.8125rem 0.25rem;
  top: 0.9375rem;
  right: 0.9375rem;
  color: #fff;
  font-family: "Arial-Bold", sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  /* line 606, ../scss/_local_css.scss */
  .archiveList .articleItem .image .updated {
    top: 0.5rem;
    right: 0.5rem;
  }
}
/* line 623, ../scss/_local_css.scss */
.archiveList .articleItem .image .video {
  background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat 0px -135px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0.9375rem;
  right: 0.9375rem;
  width: 2.1875rem;
  height: 2.1875rem;
}
@media screen and (max-width: 767px) {
  /* line 623, ../scss/_local_css.scss */
  .archiveList .articleItem .image .video {
    background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat -70px -135px;
    background-color: #e5e5e5;
    width: 1.375rem;
    height: 1.375rem;
    top: 0.75rem;
    right: 0.75rem;
  }
}
/* line 641, ../scss/_local_css.scss */
.archiveList .articleItem .image .gallery {
  background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat -35px -135px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0.9375rem;
  right: 0.9375rem;
  width: 2.1875rem;
  height: 2.1875rem;
}
@media screen and (max-width: 767px) {
  /* line 641, ../scss/_local_css.scss */
  .archiveList .articleItem .image .gallery {
    background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat -92px -135px;
    width: 1.375rem;
    height: 1.375rem;
    top: 0.75rem;
    right: 0.75rem;
  }
}
/* line 660, ../scss/_local_css.scss */
.archiveList .articleItem .copy h3 {
  font-family: "PMN-Caecilia-56-Italic", serif;
  font-size: 1.25rem;
  line-height: 24px;
  text-align: center;
}
@media screen and (max-width: 849px) {
  /* line 660, ../scss/_local_css.scss */
  .archiveList .articleItem .copy h3 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 660, ../scss/_local_css.scss */
  .archiveList .articleItem .copy h3 {
    font-size: 0.9375rem;
    line-height: 18px;
  }
}
/* line 674, ../scss/_local_css.scss */
.archiveList .articleItem .timestamp {
  font-family: "Barlow", Arial, sans-serif;
  font-size: 1.125rem;
  line-height: 30px;
  color: #222;
  display: inline;
}
/* line 682, ../scss/_local_css.scss */
.archiveList .articleItem .timestamp .bolded {
  font-weight: bolder;
}
/* line 684, ../scss/_local_css.scss */
.archiveList .articleItem .timestamp .bolded .upper {
  text-transform: uppercase;
}
@media screen and (max-width: 849px) {
  /* line 674, ../scss/_local_css.scss */
  .archiveList .articleItem .timestamp {
    line-height: 28px;
  }
}
/* line 692, ../scss/_local_css.scss */
.archiveList .articleItem p {
  font-family: "Barlow", Arial, sans-serif;
  font-size: 1.125rem;
  line-height: 28px;
  display: inline;
  color: #222;
}
@media screen and (max-width: 849px) {
  /* line 692, ../scss/_local_css.scss */
  .archiveList .articleItem p {
    line-height: 28px;
  }
}

/* line 706, ../scss/_local_css.scss */
article {
  margin: auto;
  max-width: 58rem;
  padding-bottom: 2.8125rem;
}
/* line 711, ../scss/_local_css.scss */
article h1 {
  font-family: "Roboto-Black", serif;
  color: #000;
}
/* line 715, ../scss/_local_css.scss */
article h1.articleTitle {
  font-size: 3.4375rem;
  line-height: 56px;
  text-align: center;
  padding: 0 3.375rem 0 3.375rem;
  margin: 3rem 0 2.9375rem 0;
}
@media screen and (max-width: 849px) {
  /* line 715, ../scss/_local_css.scss */
  article h1.articleTitle {
    font-size: 3.125rem;
    padding: 0 5.1875rem 0 5.1875rem;
    line-height: 45px;
    margin: 2.875rem 0 2.75rem 0;
  }
}
@media screen and (max-width: 767px) {
  /* line 715, ../scss/_local_css.scss */
  article h1.articleTitle {
    font-size: 1.375rem;
    padding: 0 1.0625rem 0 1.0625rem;
    line-height: 21px;
    margin: 1.75rem 0 1.625rem 0;
  }
}
/* line 735, ../scss/_local_css.scss */
article h1.contentTitle {
  font-size: 2.25rem;
  line-height: 36px;
  padding: 0 3.375rem 0 3.375rem;
  margin: 2.1875rem 0 1.25rem 0;
}
@media screen and (max-width: 849px) {
  /* line 735, ../scss/_local_css.scss */
  article h1.contentTitle {
    font-size: 1.75rem;
    padding: 0 5.1875rem 0 5.1875rem;
    line-height: 28px;
  }
}
@media screen and (max-width: 767px) {
  /* line 735, ../scss/_local_css.scss */
  article h1.contentTitle {
    font-size: 1.5625rem;
    padding: 0 0.6875rem 0 0.6875rem;
    line-height: 28px;
  }
}
/* line 752, ../scss/_local_css.scss */
article .subheader {
  padding: 0 3.375rem 0 3.375rem;
}
@media screen and (max-width: 849px) {
  /* line 752, ../scss/_local_css.scss */
  article .subheader {
    padding: 0 4.1875rem 0 4.1875rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 752, ../scss/_local_css.scss */
  article .subheader {
    padding: 0 0.6875rem 0 0.6875rem;
  }
}
/* line 760, ../scss/_local_css.scss */
article .subheader h2 {
  font-family: "PMN-Caecilia-56-Italic", serif;
  font-size: 1.875rem;
  line-height: 32px;
  padding: 0 0 1.25rem 0;
  margin: 0;
}
@media screen and (max-width: 849px) {
  /* line 760, ../scss/_local_css.scss */
  article .subheader h2 {
    font-size: 1.375rem;
    line-height: 32px;
  }
}
@media screen and (max-width: 767px) {
  /* line 760, ../scss/_local_css.scss */
  article .subheader h2 {
    font-size: 1.25rem;
    line-height: 22px;
  }
}
/* line 776, ../scss/_local_css.scss */
article .copy {
  padding: 0 3.375rem 0 3.375rem;
}
@media screen and (max-width: 849px) {
  /* line 776, ../scss/_local_css.scss */
  article .copy {
    padding: 0 4.1875rem 0 4.1875rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 776, ../scss/_local_css.scss */
  article .copy {
    padding: 0 0.6875rem 0 0.6875rem;
  }
}
/* line 784, ../scss/_local_css.scss */
article .copy h2 {
  font-size: 1.875rem;
  font-family: "Roboto-Black", serif;
  color: #222;
  padding: 0 0 0.9375rem 0;
  margin: 0;
  line-height: 44px;
}
@media screen and (max-width: 849px) {
  /* line 784, ../scss/_local_css.scss */
  article .copy h2 {
    font-size: 1.75rem;
    line-height: 28px;
  }
}
@media screen and (max-width: 849px) {
  /* line 784, ../scss/_local_css.scss */
  article .copy h2 {
    font-size: 1.25rem;
    line-height: 22px;
  }
}
/* line 801, ../scss/_local_css.scss */
article .copy h3 {
  font-size: 1.25rem;
  font-family: "Roboto-Black", serif;
  color: #222;
  margin: 0;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  /* line 801, ../scss/_local_css.scss */
  article .copy h3 {
    font-size: 1.125rem;
  }
}
/* line 812, ../scss/_local_css.scss */
article .copy p {
  font-family: "Barlow", Arial, sans-serif;
  font-size: 1.125rem;
  color: #222;
  line-height: 30px;
  margin: 0;
  padding: 0 0 1.875rem 0;
}
@media screen and (max-width: 849px) {
  /* line 812, ../scss/_local_css.scss */
  article .copy p {
    line-height: 28px;
  }
}
/* line 823, ../scss/_local_css.scss */
article .copy a {
  color: #882346;
  padding-bottom: 3px;
  font-weight: bolder;
  text-decoration: none;
  border-bottom: 3px solid #882346;
}
/* line 829, ../scss/_local_css.scss */
article .copy a:hover {
  border-bottom: 3px solid #a59b9b;
  color: #a59b9b;
}
/* line 835, ../scss/_local_css.scss */
article .update {
  background-color: #e5e5e5;
  padding: 1.6875rem 2.125rem;
  margin: 0 1.25rem 2.1875rem 1.25rem;
}
@media screen and (max-width: 849px) {
  /* line 835, ../scss/_local_css.scss */
  article .update {
    margin: 0 2.9375rem 2.1875rem 2.9375rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 835, ../scss/_local_css.scss */
  article .update {
    padding: 0.4375rem 0.5625rem;
    margin: 0 0.6875rem 2.1875rem 0.6875rem;
  }
}
/* line 846, ../scss/_local_css.scss */
article .update p {
  font-family: "Barlow", Arial, sans-serif;
  font-size: 1.125rem;
  line-height: 30px;
  margin-top: 30px;
  color: #222;
}
/* line 853, ../scss/_local_css.scss */
article .update p:first-of-type {
  display: inline;
}
@media screen and (max-width: 849px) {
  /* line 846, ../scss/_local_css.scss */
  article .update p {
    line-height: 28px;
  }
}
/* line 863, ../scss/_local_css.scss */
article .update a {
  color: #882346;
  padding-bottom: 3px;
  font-weight: bolder;
  text-decoration: none;
  border-bottom: 3px solid #882346;
}
/* line 870, ../scss/_local_css.scss */
article .update .timestamp {
  font-family: "Barlow", Arial, sans-serif;
  font-size: 1.125rem;
  line-height: 30px;
  color: #222;
  display: inline;
}
/* line 878, ../scss/_local_css.scss */
article .update .timestamp .bolded {
  font-weight: bolder;
}
/* line 880, ../scss/_local_css.scss */
article .update .timestamp .bolded .upper {
  text-transform: uppercase;
}
@media screen and (max-width: 849px) {
  /* line 870, ../scss/_local_css.scss */
  article .update .timestamp {
    line-height: 28px;
  }
}
/* line 890, ../scss/_local_css.scss */
article .update .updateImage img {
  margin-top: 1.5625rem;
  display: block;
  width: 100%;
  border: 2px solid #707070;
  box-sizing: border-box;
}
/* line 899, ../scss/_local_css.scss */
article .featureImage {
  margin: 0 1.25rem 1.5625rem 1.25rem;
}
@media screen and (max-width: 849px) {
  /* line 899, ../scss/_local_css.scss */
  article .featureImage {
    margin: 0 2.9375rem 1.5625rem 2.9375rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 899, ../scss/_local_css.scss */
  article .featureImage {
    margin: 0 0.6875rem 1.5625rem 0.6875rem;
  }
}
/* line 907, ../scss/_local_css.scss */
article .featureImage img {
  display: block;
  width: 100%;
}
/* line 912, ../scss/_local_css.scss */
article .floatImage {
  float: right;
  margin: 0.5rem 3.375rem 0.625rem 0.625rem;
  max-width: 17.1875rem;
}
@media screen and (max-width: 849px) {
  /* line 912, ../scss/_local_css.scss */
  article .floatImage {
    float: none;
    max-width: 100%;
    margin: 0 7.3125rem 0.625rem 7.3125rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 912, ../scss/_local_css.scss */
  article .floatImage {
    float: none;
    margin: 0 0.6875rem 0.625rem 0.6875rem;
  }
}
/* line 925, ../scss/_local_css.scss */
article .floatImage img {
  display: block;
  width: 100%;
}
/* line 931, ../scss/_local_css.scss */
article .caption p {
  font-family: "Roboto-Italic", serif;
  font-size: 0.8125rem;
  color: #222;
  margin: 0.5rem 0 0 0;
}
@media screen and (max-width: 849px) {
  /* line 931, ../scss/_local_css.scss */
  article .caption p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 931, ../scss/_local_css.scss */
  article .caption p {
    font-size: 0.75rem;
    margin: 0.5rem 0.1875rem 0 0.1875rem;
  }
}
/* line 943, ../scss/_local_css.scss */
article .caption p a {
  text-decoration: underline;
  color: #882346;
}
/* line 946, ../scss/_local_css.scss */
article .caption p a:hover {
  color: #a59b9b;
}
/* line 951, ../scss/_local_css.scss */
article .caption ul {
  font-family: "Roboto-Italic", serif;
  font-size: 0.8125rem;
  color: #222;
  margin: 0.625rem 0 0.625rem 0;
  padding: 0 0 0 14px;
}
@media screen and (max-width: 767px) {
  /* line 951, ../scss/_local_css.scss */
  article .caption ul {
    padding: 0 0 0 18px;
  }
}
/* line 965, ../scss/_local_css.scss */
article .photoCredit {
  font-family: "Roboto-Italic", serif;
  font-size: 0.9375rem;
  color: #a2a2a2;
  margin: 0;
}
@media screen and (max-width: 767px) {
  /* line 965, ../scss/_local_css.scss */
  article .photoCredit {
    font-size: 0.75rem;
    margin: 0 0.1875rem 0 0.1875rem;
  }
}
/* line 975, ../scss/_local_css.scss */
article .photoCredit a {
  text-decoration: underline;
  color: #882346;
}
/* line 978, ../scss/_local_css.scss */
article .photoCredit a:hover {
  color: #a59b9b;
}
/* line 983, ../scss/_local_css.scss */
article .quote {
  float: left;
  max-width: 17.1875rem;
  margin: 0 2.1875rem 0 3.375rem;
}
@media screen and (max-width: 849px) {
  /* line 983, ../scss/_local_css.scss */
  article .quote {
    float: none;
    max-width: 100%;
    margin: 0 4rem 0 4rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 983, ../scss/_local_css.scss */
  article .quote {
    float: none;
    max-width: 100%;
    margin: 0 1rem 0 1rem;
  }
}
/* line 999, ../scss/_local_css.scss */
article .quote .doubleQuotes {
  background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat -240px -45px;
  width: 2.125rem;
  height: 1.875rem;
}
@media screen and (max-width: 767px) {
  /* line 999, ../scss/_local_css.scss */
  article .quote .doubleQuotes {
    background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat -240px -80px;
    width: 1.5rem;
    height: 1.375rem;
  }
}
/* line 1010, ../scss/_local_css.scss */
article .quote p {
  font-size: 1.625rem;
  font-family: "PMN-Caecilia-56-Italic", serif;
  margin: 0 0 0 2.875rem;
  position: relative;
  top: -23px;
  line-height: 30px;
}
@media screen and (max-width: 849px) {
  /* line 1010, ../scss/_local_css.scss */
  article .quote p {
    font-size: 2.25rem;
    margin: 0 0 0 3.4375rem;
    line-height: 45px;
    top: -15px;
  }
}
@media screen and (max-width: 767px) {
  /* line 1010, ../scss/_local_css.scss */
  article .quote p {
    font-size: 1.5rem;
    margin: 0 0 0 2.8125rem;
    line-height: 28px;
    top: -21px;
  }
}
/* line 1032, ../scss/_local_css.scss */
article .video {
  margin: 0 3.375rem 0 3.375rem;
  position: relative;
  padding-bottom: 49.65%;
  /* 16:9 */
  height: 0;
}
@media screen and (max-width: 849px) {
  /* line 1032, ../scss/_local_css.scss */
  article .video {
    margin: 0 4.1875rem 0 4.1875rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 1032, ../scss/_local_css.scss */
  article .video {
    margin: 0 0.6875rem 0 0.6875rem;
  }
}
/* line 1044, ../scss/_local_css.scss */
article .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 1052, ../scss/_local_css.scss */
article .videoCaption {
  margin: 0.5rem 3.375rem 2.5rem 3.375rem;
}
@media screen and (max-width: 849px) {
  /* line 1052, ../scss/_local_css.scss */
  article .videoCaption {
    margin: 0.5rem 4.1875rem 2.5rem 4.1875rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 1052, ../scss/_local_css.scss */
  article .videoCaption {
    margin: 0.5rem 0.6875rem 1.25rem 0.6875rem;
  }
}
/* line 1061, ../scss/_local_css.scss */
article .articleImage {
  margin: 0 3.375rem 2.5rem 3.375rem;
}
@media screen and (max-width: 849px) {
  /* line 1061, ../scss/_local_css.scss */
  article .articleImage {
    margin: 0 4rem 2.5rem 4rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 1061, ../scss/_local_css.scss */
  article .articleImage {
    margin: 0 0.6875rem 2.5rem 0.6875rem;
  }
}
/* line 1069, ../scss/_local_css.scss */
article .articleImage img {
  display: block;
  width: 100%;
}
/* line 1075, ../scss/_local_css.scss */
article .byline p {
  font-size: 1.125rem;
  font-family: "Roboto", serif;
  margin: 0 0 1.875rem 1.4375rem;
}
@media screen and (max-width: 849px) {
  /* line 1075, ../scss/_local_css.scss */
  article .byline p {
    margin: 0 0 1.4375rem 2.9375rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 1075, ../scss/_local_css.scss */
  article .byline p {
    display: none;
  }
}
/* line 1085, ../scss/_local_css.scss */
article .byline p.phone {
  display: none;
}
@media screen and (max-width: 767px) {
  /* line 1085, ../scss/_local_css.scss */
  article .byline p.phone {
    display: block;
    margin: 0 0 1.4375rem 0.6875rem;
  }
}
/* line 1093, ../scss/_local_css.scss */
article .byline a {
  text-decoration: none;
  color: #882346;
  font-weight: bolder;
}
/* line 1097, ../scss/_local_css.scss */
article .byline a:hover {
  color: #a59b9b;
}
/* line 1101, ../scss/_local_css.scss */
article .byline .name {
  font-family: "Roboto-Bold", serif;
  font-weight: bolder;
}
/* line 1104, ../scss/_local_css.scss */
article .byline .name a {
  text-transform: capitalize;
}
/* line 1108, ../scss/_local_css.scss */
article .byline .type {
  font-family: "Roboto-Bold", serif;
}
/* line 1110, ../scss/_local_css.scss */
article .byline .type a {
  text-transform: uppercase;
}
/* line 1115, ../scss/_local_css.scss */
article .share {
  float: right;
  margin: 0 1.4375rem 0 0;
}
@media screen and (max-width: 849px) {
  /* line 1115, ../scss/_local_css.scss */
  article .share {
    margin: 0 2.9375rem 0 0;
  }
}
@media screen and (max-width: 767px) {
  /* line 1115, ../scss/_local_css.scss */
  article .share {
    margin: 0 0.6875rem 0 0;
  }
}
/* line 1125, ../scss/_local_css.scss */
article .accordion {
  display: block;
  border: 1px solid #707070;
  background-color: #e5e5e5;
  padding: 1.6875rem 2.125rem 1.6875rem 2.125rem;
  margin: 0 3.375rem 2.1875rem 3.375rem;
}
@media screen and (max-width: 849px) {
  /* line 1125, ../scss/_local_css.scss */
  article .accordion {
    margin: 0 4.1875rem 1.5625rem 4.1875rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 1125, ../scss/_local_css.scss */
  article .accordion {
    margin: 0 0.6875rem 1.5625rem 0.6875rem;
    padding: 0.4375rem 0.5625rem;
  }
}
/* line 1138, ../scss/_local_css.scss */
article .accordion.float {
  float: right;
  width: 14.6875rem;
  padding: 0.9375rem 1.25rem 0.9375rem 1.25rem;
  margin: 0 3.375rem 2.1875rem 0.625rem;
}
@media screen and (max-width: 767px) {
  /* line 1138, ../scss/_local_css.scss */
  article .accordion.float {
    float: none;
    width: 92%;
    padding: 0.4375rem 0.5625rem;
  }
}
/* line 1148, ../scss/_local_css.scss */
article .accordion.float button.accordion-toggle .content h2 {
  margin-top: -2px;
  font-size: 17px;
}
@media screen and (max-width: 767px) {
  /* line 1148, ../scss/_local_css.scss */
  article .accordion.float button.accordion-toggle .content h2 {
    margin-top: 4px;
  }
}
/* line 1155, ../scss/_local_css.scss */
article .accordion.float button.accordion-toggle .content p, article .accordion.float .accordion-content p {
  font-size: 15px;
  line-height: 20px;
}
/* line 1160, ../scss/_local_css.scss */
article .accordion button.accordion-toggle {
  cursor: pointer;
  border-width: 0;
  text-align: initial;
  background-color: #e5e5e5;
}
/* line 1177, ../scss/_local_css.scss */
article .accordion button.accordion-toggle .visual {
  float: left;
  width: 18px;
  height: 18px;
  margin: 6px 0 0 0;
  background: url("http://www.brooklyn.cuny.edu/web/com_misc/expand.png") no-repeat 0px 0px;
}
/* line 1189, ../scss/_local_css.scss */
article .accordion button.accordion-toggle .visual.minus {
  background: url("http://www.brooklyn.cuny.edu/web/com_misc/expand.png") no-repeat -19px 0px;
}
/* line 1193, ../scss/_local_css.scss */
article .accordion button.accordion-toggle .content {
  margin-left: 30px;
}
/* line 1205, ../scss/_local_css.scss */
article .accordion button.accordion-toggle .content h2 {
  margin: 0;
  font-size: 1.875rem;
  font-family: "Roboto-Black", serif;
  color: #222;
  line-height: 34px;
}
@media screen and (max-width: 849px) {
  /* line 1205, ../scss/_local_css.scss */
  article .accordion button.accordion-toggle .content h2 {
    font-size: 1.75rem;
    line-height: 28px;
  }
}
@media screen and (max-width: 849px) {
  /* line 1205, ../scss/_local_css.scss */
  article .accordion button.accordion-toggle .content h2 {
    font-size: 1.25rem;
    line-height: 22px;
  }
}
/* line 1224, ../scss/_local_css.scss */
article .accordion button.accordion-toggle .content h3 {
  font-size: 1.25rem;
  font-family: "Roboto-Black", serif;
  color: #222;
  margin: 0;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  /* line 1224, ../scss/_local_css.scss */
  article .accordion button.accordion-toggle .content h3 {
    font-size: 1.125rem;
    margin-top: 1.5px;
  }
}
/* line 1238, ../scss/_local_css.scss */
article .accordion button.accordion-toggle .content p {
  font-family: "Barlow", Arial, sans-serif;
  font-size: 1.125rem;
  color: #222;
  line-height: 30px;
  margin: 0;
}
@media screen and (max-width: 849px) {
  /* line 1238, ../scss/_local_css.scss */
  article .accordion button.accordion-toggle .content p {
    line-height: 28px;
  }
}
/* line 1251, ../scss/_local_css.scss */
article .accordion button.accordion-toggle .content a {
  color: #882346;
  font-weight: bolder;
  text-decoration: none;
  border-bottom: 3px solid #882346;
}
/* line 1260, ../scss/_local_css.scss */
article .accordion .accordion-content {
  display: none;
  border-top: 1px solid #707070;
  margin-top: 20px;
}
/* line 1265, ../scss/_local_css.scss */
article .accordion .accordion-content h2 {
  font-size: 1.875rem;
  font-family: "Roboto-Black", serif;
  color: #222;
  line-height: 44px;
}
@media screen and (max-width: 849px) {
  /* line 1265, ../scss/_local_css.scss */
  article .accordion .accordion-content h2 {
    font-size: 1.75rem;
    line-height: 28px;
  }
}
@media screen and (max-width: 849px) {
  /* line 1265, ../scss/_local_css.scss */
  article .accordion .accordion-content h2 {
    font-size: 1.25rem;
    line-height: 22px;
  }
}
/* line 1282, ../scss/_local_css.scss */
article .accordion .accordion-content h3 {
  font-size: 1.25rem;
  font-family: "Roboto-Black", serif;
  color: #222;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  /* line 1282, ../scss/_local_css.scss */
  article .accordion .accordion-content h3 {
    font-size: 1.125rem;
  }
}
/* line 1293, ../scss/_local_css.scss */
article .accordion .accordion-content p {
  font-family: "Barlow", Arial, sans-serif;
  font-size: 1.125rem;
  color: #222;
  line-height: 30px;
  margin: 0;
  padding: 0 0 0.9375rem 0;
}
@media screen and (max-width: 849px) {
  /* line 1293, ../scss/_local_css.scss */
  article .accordion .accordion-content p {
    line-height: 28px;
  }
}
/* line 1304, ../scss/_local_css.scss */
article .accordion .accordion-content a {
  color: #882346;
  padding-bottom: 3px;
  font-weight: bolder;
  text-decoration: none;
  border-bottom: 3px solid #882346;
}
/* line 1311, ../scss/_local_css.scss */
article .accordion .accordion-content.default {
  display: block;
}
/* line 1316, ../scss/_local_css.scss */
article .gallery {
  border: 1px solid #882346;
  margin: 0 1.25rem 1.5625rem 1.25rem;
}
@media screen and (max-width: 849px) {
  /* line 1316, ../scss/_local_css.scss */
  article .gallery {
    margin: 0 2.9375rem 1.5625rem 2.9375rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 1316, ../scss/_local_css.scss */
  article .gallery {
    margin: 0 0.6875rem 1.5625rem 0.6875rem;
  }
}
/* line 1326, ../scss/_local_css.scss */
article .gallery.content {
  margin: 0 3.375rem 2.5rem 3.375rem;
}
@media screen and (max-width: 849px) {
  /* line 1326, ../scss/_local_css.scss */
  article .gallery.content {
    margin: 0 4rem 2.5rem 4rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 1326, ../scss/_local_css.scss */
  article .gallery.content {
    margin: 0 0.6875rem 2.5rem 0.6875rem;
  }
}
/* line 1337, ../scss/_local_css.scss */
article .gallery .thumbnailImages {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-column-gap: 0.625rem;
  grid-row-gap: 1.25rem;
  justify-content: space-between;
}
@media screen and (max-width: 849px) {
  /* line 1337, ../scss/_local_css.scss */
  article .gallery .thumbnailImages {
    grid-template-columns: auto auto auto auto auto auto;
    grid-column-gap: 0.3125rem;
    grid-row-gap: 0.3125rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 1337, ../scss/_local_css.scss */
  article .gallery .thumbnailImages {
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 0.625rem;
    grid-row-gap: 0.625rem;
  }
}
/* line 1353, ../scss/_local_css.scss */
article .gallery .thumbnailImages button.thumb {
  cursor: pointer;
  border-width: 0;
  background-color: #fff;
  padding: 0;
}
@media screen and (max-width: 767px) {
  /* line 1353, ../scss/_local_css.scss */
  article .gallery .thumbnailImages button.thumb {
    width: 100%;
    height: 100%;
  }
}
/* line 1368, ../scss/_local_css.scss */
article .gallery .thumbnailImages button.thumb img {
  display: block;
  width: 100%;
}
/* line 1377, ../scss/_local_css.scss */
article .gallery .mainImage button.main {
  cursor: pointer;
  border-width: 0;
  text-align: initial;
  background-color: #fff;
  padding: 0 !important;
  width: 100%;
}
/* line 1386, ../scss/_local_css.scss */
article .gallery .mainImage button.main .image {
  background-color: #707070;
  height: 0;
  overflow: hidden;
  position: relative;
  padding-top: 56.25%;
}
/* line 1403, ../scss/_local_css.scss */
article .gallery .mainImage button.main .image img {
  margin: auto;
  object-fit: scale-down;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 767px) {
  /* line 1403, ../scss/_local_css.scss */
  article .gallery .mainImage button.main .image img {
    object-fit: contain;
  }
}
/* line 1420, ../scss/_local_css.scss */
article .gallery .mainImage button.main .caption {
  font-family: "Roboto", serif;
  font-size: 1rem;
}
/* line 1423, ../scss/_local_css.scss */
article .gallery .mainImage button.main .caption a {
  font-family: "Roboto-Bold", serif;
}
/* line 1431, ../scss/_local_css.scss */
article .gallery .lightboxImages {
  position: fixed;
  z-index: 2500;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}
/* line 1447, ../scss/_local_css.scss */
article .gallery .lightboxImages .lightboxElement .image img {
  display: block;
  width: 100%;
}

/* line 1471, ../scss/_local_css.scss */
.closing {
  margin: auto;
  max-width: 58rem;
}
/* line 1474, ../scss/_local_css.scss */
.closing .line {
  border-top: 1px solid #707070;
  margin: 0 1.25rem 6.875rem 1.25rem;
}
@media screen and (max-width: 849px) {
  /* line 1474, ../scss/_local_css.scss */
  .closing .line {
    margin: 0 2.9375rem 5rem 2.9375rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 1474, ../scss/_local_css.scss */
  .closing .line {
    margin: 0 0.5rem 5rem 0.5rem;
  }
}
/* line 1484, ../scss/_local_css.scss */
.closing .tags {
  margin: 3.75rem 0 0 0.1875rem;
}
@media screen and (max-width: 767px) {
  /* line 1484, ../scss/_local_css.scss */
  .closing .tags {
    margin: 2.5rem auto 0 auto;
    display: flex;
    justify-content: space-around;
  }
}
/* line 1492, ../scss/_local_css.scss */
.closing .tags a {
  border: 1px solid #707070;
  padding: 0.625rem 1.5625rem;
  margin-right: 0.75rem;
  font-size: 0.875rem;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #707070;
}
@media screen and (max-width: 767px) {
  /* line 1492, ../scss/_local_css.scss */
  .closing .tags a {
    font-size: 0.625rem;
    padding: 0.625rem 1.25rem;
    margin-right: 0;
  }
}
/* line 1507, ../scss/_local_css.scss */
.closing .tags a:hover {
  background-color: #000;
  color: #fff;
}
/* line 1514, ../scss/_local_css.scss */
.closing .share {
  float: right;
  margin: 3.75rem 0 0 0;
}
@media screen and (max-width: 767px) {
  /* line 1514, ../scss/_local_css.scss */
  .closing .share {
    margin: 2.5rem 0 0 0;
    float: none;
    display: flex;
    justify-content: center;
  }
}

/* line 1528, ../scss/_local_css.scss */
footer .full-width {
  width: 100%;
  max-width: 100%;
}
/* line 1532, ../scss/_local_css.scss */
footer .navigation {
  background-color: #d9d9d9;
  height: 15.25rem;
  margin: auto;
  max-width: 100%;
}
/* line 1538, ../scss/_local_css.scss */
footer .navigation nav {
  max-width: 58rem;
  margin: auto;
}
/* line 1541, ../scss/_local_css.scss */
footer .navigation nav ul {
  margin: 0;
  padding: 7.125rem 4.625rem 0 4.625rem;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 767px) {
  /* line 1541, ../scss/_local_css.scss */
  footer .navigation nav ul {
    padding: 2.5rem 0 0 0;
    flex-direction: column;
    justify-content: space-between;
    height: 167px;
  }
}
@media screen and (max-width: 767px) {
  /* line 1554, ../scss/_local_css.scss */
  footer .navigation nav ul li {
    text-align: center;
  }
}
/* line 1560, ../scss/_local_css.scss */
footer .navigation nav ul li a {
  font-family: "Arial-Bold", sans-serif;
  color: #707070;
  font-size: 1rem;
  font-weight: bolder;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 1567, ../scss/_local_css.scss */
footer .navigation nav ul li a:hover {
  text-decoration: underline;
}
/* line 1575, ../scss/_local_css.scss */
footer .bottom {
  background-color: #882346;
  height: 4.375rem;
}
@media screen and (max-width: 767px) {
  /* line 1575, ../scss/_local_css.scss */
  footer .bottom {
    height: 9.375rem;
  }
}
/* line 1581, ../scss/_local_css.scss */
footer .bottom .elements {
  margin: auto;
  max-width: 58rem;
  height: 4.375rem;
}
@media screen and (max-width: 767px) {
  /* line 1581, ../scss/_local_css.scss */
  footer .bottom .elements {
    height: 9.375rem;
  }
}
/* line 1588, ../scss/_local_css.scss */
footer .bottom .elements .social {
  float: right;
  margin: 1.5625rem 1.75rem 0 0;
}
@media screen and (max-width: 767px) {
  /* line 1588, ../scss/_local_css.scss */
  footer .bottom .elements .social {
    width: 250px;
    margin: auto;
    float: none;
    display: flex;
    justify-content: space-around;
    padding: 2rem 0 1.4375rem 0;
  }
}
/* line 1602, ../scss/_local_css.scss */
footer .bottom .elements .social .icon a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
/* line 1609, ../scss/_local_css.scss */
footer .bottom .elements .social .instagram {
  display: inline-block;
  background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat 0px -43px;
  width: 1.1875rem;
  height: 1.25rem;
  margin-right: 1.5rem;
}
/* line 1616, ../scss/_local_css.scss */
footer .bottom .elements .social .twitter {
  display: inline-block;
  background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat -32px -45px;
  width: 1.1875rem;
  height: 1.0625rem;
  margin-right: 1.5rem;
}
/* line 1623, ../scss/_local_css.scss */
footer .bottom .elements .social .facebook {
  display: inline-block;
  background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat -60px -43px;
  width: 0.625rem;
  height: 1.1875rem;
}
/* line 1630, ../scss/_local_css.scss */
footer .bottom .elements .copyright {
  height: 4.375rem;
}
@media screen and (max-width: 767px) {
  /* line 1630, ../scss/_local_css.scss */
  footer .bottom .elements .copyright {
    margin: 0 auto 0 auto;
    width: 17.375rem;
  }
}
/* line 1639, ../scss/_local_css.scss */
footer .bottom .elements .copyright .cuny {
  display: inline-block;
  background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat -240px 0px;
  width: 2.8125rem;
  height: 2.75rem;
  margin: 0.8125rem 0 0 1.75rem;
}
@media screen and (max-width: 767px) {
  /* line 1639, ../scss/_local_css.scss */
  footer .bottom .elements .copyright .cuny {
    margin-left: 0;
  }
}
/* line 1648, ../scss/_local_css.scss */
footer .bottom .elements .copyright .cuny a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
/* line 1655, ../scss/_local_css.scss */
footer .bottom .elements .copyright .copy {
  display: inline-block;
  position: absolute;
  border-left: 2px solid #fff;
  height: 2.75rem;
  margin: 0.8125rem 0.5625rem 0 0.875rem;
}
@media screen and (max-width: 767px) {
  /* line 1655, ../scss/_local_css.scss */
  footer .bottom .elements .copyright .copy {
    margin-right: 0;
  }
}
/* line 1665, ../scss/_local_css.scss */
footer .bottom .elements .copyright .copy p {
  font-family: "Arial", sans-serif;
  color: #fff;
  font-size: 0.75rem;
  margin: 0.9375rem 0 0 0.875rem;
  padding: 0;
}

/* line 1681, ../scss/_local_css.scss */
.share .icon a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
/* line 1688, ../scss/_local_css.scss */
.share .email {
  display: inline-block;
  background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat 0px 0px;
  width: 1.8125rem;
  height: 1.25rem;
  margin-right: 1.5rem;
}
/* line 1695, ../scss/_local_css.scss */
.share .twitter {
  display: inline-block;
  background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat -32px 0px;
  width: 1.5625rem;
  height: 1.25rem;
  margin-right: 1.5rem;
}
/* line 1702, ../scss/_local_css.scss */
.share .facebook {
  display: inline-block;
  background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat -60px 0px;
  width: 0.6875rem;
  height: 1.25rem;
}
@media screen and (max-width: 767px) {
  /* line 1708, ../scss/_local_css.scss */
  .share.open {
    margin-top: 0.1875rem;
  }
  /* line 1711, ../scss/_local_css.scss */
  .share.open .email {
    background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat 0px -25px;
    width: 1.25rem;
    height: 0.875rem;
    margin-right: 0.625rem;
  }
  /* line 1717, ../scss/_local_css.scss */
  .share.open .twitter {
    background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat -32px -25px;
    width: 1.0625rem;
    height: 0.875rem;
    margin-right: 0.625rem;
  }
  /* line 1723, ../scss/_local_css.scss */
  .share.open .facebook {
    background: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat -60px -25px;
    width: 0.5rem;
    height: 0.875rem;
  }
}

/* line 1735, ../scss/_local_css.scss */
#skipnav a, a.skipTranscript {
  position: absolute;
  z-index: 3000;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  padding-bottom: 25px;
}

/* line 1743, ../scss/_local_css.scss */
#skipnav a:hover, #skipnav a:focus, #skipnav a:active {
  clip: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 10px 0;
  background: #fdf6e7;
  border: 2px solid #990000;
  border-left: none;
  border-right: none;
  text-align: center;
  font-weight: bold;
  color: #990000;
}
