/* CSS Document */
/* CSS Document */
/* CSS Document */
/* line 136, ../scss/_local_css.scss */
body {
  background-color: #fff;
  padding: 0;
  margin: 0;
}

/* line 143, ../scss/_local_css.scss */
.full-width {
  max-width: 100%;
}

/* line 149, ../scss/_local_css.scss */
.hidden {
  display: none;
}

/* line 154, ../scss/_local_css.scss */
*:focus {
  outline: 3px solid #FAD129;
}

@-webkit-keyframes "FadeIn" {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes "FadeIn" {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* line 164, ../scss/_local_css.scss */
header .full-width {
  z-index: 1000;
  position: fixed;
  background-color: #882346;
  width: 100%;
  max-width: 100%;
  height: 2.8125rem;
}
/* line 171, ../scss/_local_css.scss */
header .full-width nav.desktop {
  margin: auto;
  max-width: 58rem;
}
/* line 175, ../scss/_local_css.scss */
header .full-width nav.desktop ul {
  margin: 0;
  padding: 0.875rem 0 0 1.5rem;
  list-style-type: none;
}
/* line 179, ../scss/_local_css.scss */
header .full-width nav.desktop ul li {
  display: inline-block;
  padding-right: 2.8125rem;
}
/* line 182, ../scss/_local_css.scss */
header .full-width nav.desktop ul li a {
  font-family: Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  color: #fff;
  font-size: 1rem;
  font-weight: bolder;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 189, ../scss/_local_css.scss */
header .full-width nav.desktop ul li a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 767px) {
  /* line 171, ../scss/_local_css.scss */
  header .full-width nav.desktop {
    display: none;
  }
}
/* line 200, ../scss/_local_css.scss */
header .full-width .mobile-toggle {
  display: none;
  margin: auto;
  max-width: 58rem;
  margin: 0 0 0 1.5rem;
  width: 3rem;
  height: 2.8125rem;
  background-color: #4B091F;
}
@media screen and (max-width: 767px) {
  /* line 200, ../scss/_local_css.scss */
  header .full-width .mobile-toggle {
    display: inline-block;
    animation: FadeIn .75s;
  }
}
/* line 212, ../scss/_local_css.scss */
header .full-width .mobile-toggle .lines {
  background: url("../images/sprite.png") no-repeat -290px -25px;
  width: 1.75rem;
  height: 1.5625rem;
  cursor: pointer;
  animation: FadeIn .75s;
  margin: 0.625rem 0 0 0.625rem;
}
/* line 220, ../scss/_local_css.scss */
header .full-width .mobile-toggle .ex {
  background: url("../images/sprite.png") no-repeat -290px 0px;
  width: 1.4375rem;
  height: 1.4375rem;
  cursor: pointer;
  animation: FadeIn .75s;
  margin: 0.75rem 0 0 0.8125rem;
}
/* line 230, ../scss/_local_css.scss */
header .mobile-white {
  padding-top: 2.8125rem;
  z-index: 900;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
/* line 237, ../scss/_local_css.scss */
header .mobile-white .logo {
  display: block;
  margin: 1.25rem 0 1.25rem 1rem;
  background: url("../images/sprite.png") no-repeat -231px -105px;
  background-origin: content-box;
  width: 7.125rem;
  height: 2.25rem;
}
/* line 246, ../scss/_local_css.scss */
header .mobile-white nav.mobile ul {
  margin: 0;
  padding: 2rem 0 2rem 1.25rem;
  list-style-type: none;
}
/* line 250, ../scss/_local_css.scss */
header .mobile-white nav.mobile ul li {
  padding: 0 0 2.9375rem 0;
}
/* line 252, ../scss/_local_css.scss */
header .mobile-white nav.mobile ul li a {
  font-family: Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 1.125rem;
  color: #716F6F;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 258, ../scss/_local_css.scss */
header .mobile-white nav.mobile ul li a:hover {
  text-decoration: underline;
}
/* line 267, ../scss/_local_css.scss */
header .brand {
  padding-top: 2.8125rem;
  max-width: 58rem;
  margin: auto;
  border-bottom: 1px solid #707070;
}
@media screen and (max-width: 849px) {
  /* line 267, ../scss/_local_css.scss */
  header .brand {
    margin: 0 2.9375rem 0 2.9375rem;
  }
}
@media screen and (max-width: 849px) {
  /* line 267, ../scss/_local_css.scss */
  header .brand {
    margin: 0 0.5rem 0 0.5rem;
  }
}
/* line 278, ../scss/_local_css.scss */
header .brand .logo {
  display: block;
  margin: 1.875rem auto 1rem auto;
  background: url("../images/sprite.png") no-repeat 0px -67px;
  width: 14.25rem;
  height: 4.125rem;
}
@media screen and (max-width: 849px) {
  /* line 278, ../scss/_local_css.scss */
  header .brand .logo {
    margin: 1.875rem auto 0.5rem auto;
    background: url("../images/sprite.png") no-repeat -77px 0px;
    width: 10.125rem;
    height: 2.9375rem;
  }
}
/* line 292, ../scss/_local_css.scss */
header .brand .logo a {
  width: 100%;
  height: 100%;
  display: inline-block;
}

/* line 305, ../scss/_local_css.scss */
.homepageList {
  border: 1px solid #882346;
  margin: auto;
  max-width: 58rem;
  padding-bottom: 2.8125rem;
}
/* line 310, ../scss/_local_css.scss */
.homepageList .articleItem {
  border: 1px solid #882346;
}
/* line 317, ../scss/_local_css.scss */
.homepageList .articleItem .copy {
  border: 1px solid #882346;
}

/* line 333, ../scss/_local_css.scss */
article {
  margin: auto;
  max-width: 58rem;
  padding-bottom: 2.8125rem;
}
/* line 338, ../scss/_local_css.scss */
article h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
/* line 341, ../scss/_local_css.scss */
article h1.articleTitle {
  font-size: 3.4375rem;
  line-height: 56px;
  text-align: center;
  padding: 0 3.375rem 0 3.375rem;
  margin: 3rem 0 2.9375rem 0;
}
@media screen and (max-width: 849px) {
  /* line 341, ../scss/_local_css.scss */
  article h1.articleTitle {
    font-size: 3.125rem;
    padding: 0 5.1875rem 0 5.1875rem;
    line-height: 45px;
    margin: 2.875rem 0 2.75rem 0;
  }
}
@media screen and (max-width: 767px) {
  /* line 341, ../scss/_local_css.scss */
  article h1.articleTitle {
    font-size: 1.375rem;
    padding: 0 1.0625rem 0 1.0625rem;
    line-height: 21px;
    margin: 1.75rem 0 1.625rem 0;
  }
}
/* line 361, ../scss/_local_css.scss */
article h1.contentTitle {
  font-size: 2.25rem;
  line-height: 36px;
  padding: 0 3.375rem 0 3.375rem;
  margin: 2.1875rem 0 1.25rem 0;
}
@media screen and (max-width: 849px) {
  /* line 361, ../scss/_local_css.scss */
  article h1.contentTitle {
    font-size: 1.75rem;
    padding: 0 5.1875rem 0 5.1875rem;
    line-height: 28px;
  }
}
@media screen and (max-width: 767px) {
  /* line 361, ../scss/_local_css.scss */
  article h1.contentTitle {
    font-size: 1.5625rem;
    padding: 0 0.6875rem 0 0.6875rem;
    line-height: 28px;
  }
}
/* line 378, ../scss/_local_css.scss */
article .subheader {
  padding: 0 3.375rem 0 3.375rem;
}
@media screen and (max-width: 849px) {
  /* line 378, ../scss/_local_css.scss */
  article .subheader {
    padding: 0 4.1875rem 0 4.1875rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 378, ../scss/_local_css.scss */
  article .subheader {
    padding: 0 0.6875rem 0 0.6875rem;
  }
}
/* line 386, ../scss/_local_css.scss */
article .subheader p {
  font-family: Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 1.875rem;
  line-height: 32px;
  padding: 0 0 1.25rem 0;
  margin: 0;
}
@media screen and (max-width: 849px) {
  /* line 386, ../scss/_local_css.scss */
  article .subheader p {
    font-size: 1.375rem;
    line-height: 32px;
  }
}
@media screen and (max-width: 767px) {
  /* line 386, ../scss/_local_css.scss */
  article .subheader p {
    font-size: 1.25rem;
    line-height: 22px;
  }
}
/* line 402, ../scss/_local_css.scss */
article .copy {
  padding: 0 3.375rem 0 3.375rem;
}
@media screen and (max-width: 849px) {
  /* line 402, ../scss/_local_css.scss */
  article .copy {
    padding: 0 4.1875rem 0 4.1875rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 402, ../scss/_local_css.scss */
  article .copy {
    padding: 0 0.6875rem 0 0.6875rem;
  }
}
/* line 410, ../scss/_local_css.scss */
article .copy h2 {
  font-size: 1.875rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #222;
  padding: 0 0 1.25rem 0;
  margin: 0;
  line-height: 44px;
}
@media screen and (max-width: 849px) {
  /* line 410, ../scss/_local_css.scss */
  article .copy h2 {
    font-size: 1.75rem;
    line-height: 28px;
  }
}
@media screen and (max-width: 849px) {
  /* line 410, ../scss/_local_css.scss */
  article .copy h2 {
    font-size: 1.25rem;
    line-height: 22px;
  }
}
/* line 427, ../scss/_local_css.scss */
article .copy h3 {
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #222;
  margin: 0;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  /* line 427, ../scss/_local_css.scss */
  article .copy h3 {
    font-size: 1.125rem;
  }
}
/* line 438, ../scss/_local_css.scss */
article .copy p {
  font-family: Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 1.125rem;
  color: #222;
  line-height: 30px;
  margin: 0;
  padding: 0 0 1.875rem 0;
}
@media screen and (max-width: 849px) {
  /* line 438, ../scss/_local_css.scss */
  article .copy p {
    line-height: 28px;
  }
}
/* line 449, ../scss/_local_css.scss */
article .copy a {
  color: #882346;
  padding-bottom: 3px;
  font-weight: bolder;
  text-decoration: none;
  border-bottom: 3px solid #882346;
}
/* line 457, ../scss/_local_css.scss */
article .update {
  background-color: #e5e5e5;
  padding: 1.6875rem 2.125rem;
  margin: 0 1.25rem 2.1875rem 1.25rem;
}
@media screen and (max-width: 849px) {
  /* line 457, ../scss/_local_css.scss */
  article .update {
    margin: 0 2.9375rem 2.1875rem 2.9375rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 457, ../scss/_local_css.scss */
  article .update {
    padding: 0.4375rem 0.5625rem;
    margin: 0 0.6875rem 2.1875rem 0.6875rem;
  }
}
/* line 468, ../scss/_local_css.scss */
article .update p {
  font-family: Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 1.125rem;
  line-height: 30px;
  margin-top: 30px;
}
/* line 474, ../scss/_local_css.scss */
article .update p:first-of-type {
  display: inline;
}
@media screen and (max-width: 849px) {
  /* line 468, ../scss/_local_css.scss */
  article .update p {
    line-height: 28px;
  }
}
/* line 484, ../scss/_local_css.scss */
article .update a {
  color: #882346;
  padding-bottom: 3px;
  font-weight: bolder;
  text-decoration: none;
  border-bottom: 3px solid #882346;
}
/* line 491, ../scss/_local_css.scss */
article .update .timestamp {
  font-family: Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 1.125rem;
  line-height: 30px;
  display: inline;
}
/* line 498, ../scss/_local_css.scss */
article .update .timestamp .bolded {
  font-weight: bolder;
}
/* line 500, ../scss/_local_css.scss */
article .update .timestamp .bolded .upper {
  text-transform: uppercase;
}
@media screen and (max-width: 849px) {
  /* line 491, ../scss/_local_css.scss */
  article .update .timestamp {
    line-height: 28px;
  }
}
/* line 510, ../scss/_local_css.scss */
article .update .updateImage img {
  margin-top: 1.5625rem;
  display: block;
  width: 100%;
  border: 2px solid #707070;
}
/* line 518, ../scss/_local_css.scss */
article .featureImage {
  margin: 0 1.25rem 1.5625rem 1.25rem;
}
@media screen and (max-width: 849px) {
  /* line 518, ../scss/_local_css.scss */
  article .featureImage {
    margin: 0 2.9375rem 1.5625rem 2.9375rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 518, ../scss/_local_css.scss */
  article .featureImage {
    margin: 0 0.6875rem 1.5625rem 0.6875rem;
  }
}
/* line 526, ../scss/_local_css.scss */
article .featureImage img {
  display: block;
  width: 100%;
}
/* line 531, ../scss/_local_css.scss */
article .floatImage {
  float: right;
  margin: 0 3.375rem 0.625rem 0.625rem;
  max-width: 17.1875rem;
}
@media screen and (max-width: 849px) {
  /* line 531, ../scss/_local_css.scss */
  article .floatImage {
    float: none;
    max-width: 100%;
    margin: 0 7.3125rem 0.625rem 7.3125rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 531, ../scss/_local_css.scss */
  article .floatImage {
    float: none;
    margin: 0 0.6875rem 0.625rem 0.6875rem;
  }
}
/* line 544, ../scss/_local_css.scss */
article .floatImage img {
  display: block;
  width: 100%;
}
/* line 548, ../scss/_local_css.scss */
article .floatImage .caption {
  font-family: Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 0.8125rem;
  color: #222;
  margin: 0.5rem 0 0 0;
}
@media screen and (max-width: 849px) {
  /* line 548, ../scss/_local_css.scss */
  article .floatImage .caption {
    font-size: 1rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 548, ../scss/_local_css.scss */
  article .floatImage .caption {
    font-size: 0.75rem;
    margin: 0.5rem 0.1875rem 0 0.1875rem;
  }
}
/* line 561, ../scss/_local_css.scss */
article .floatImage .photoCredit {
  font-family: Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 0.9375rem;
  font-style: italic;
  color: #a2a2a2;
  margin: 0;
}
@media screen and (max-width: 767px) {
  /* line 561, ../scss/_local_css.scss */
  article .floatImage .photoCredit {
    font-size: 0.75rem;
    margin: 0 0.1875rem 0 0.1875rem;
  }
}
/* line 573, ../scss/_local_css.scss */
article .quote {
  float: left;
  max-width: 17.1875rem;
  margin: 0 2.1875rem 0 3.375rem;
}
@media screen and (max-width: 849px) {
  /* line 573, ../scss/_local_css.scss */
  article .quote {
    float: none;
    max-width: 100%;
    margin: 0 4rem 0 4rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 573, ../scss/_local_css.scss */
  article .quote {
    float: none;
    max-width: 100%;
    margin: 0 1rem 0 1rem;
  }
}
/* line 589, ../scss/_local_css.scss */
article .quote .doubleQuotes {
  background: url("../images/sprite.png") no-repeat -240px -45px;
  width: 2.125rem;
  height: 1.875rem;
}
@media screen and (max-width: 767px) {
  /* line 589, ../scss/_local_css.scss */
  article .quote .doubleQuotes {
    background: url("../images/sprite.png") no-repeat -240px -80px;
    width: 1.5rem;
    height: 1.375rem;
  }
}
/* line 600, ../scss/_local_css.scss */
article .quote p {
  font-size: 1.625rem;
  font-family: Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  margin: 0 0 0 2.875rem;
  position: relative;
  top: -23px;
  line-height: 30px;
}
@media screen and (max-width: 849px) {
  /* line 600, ../scss/_local_css.scss */
  article .quote p {
    font-size: 2.25rem;
    margin: 0 0 0 3.4375rem;
    line-height: 45px;
    top: -15px;
  }
}
@media screen and (max-width: 767px) {
  /* line 600, ../scss/_local_css.scss */
  article .quote p {
    font-size: 1.5rem;
    margin: 0 0 0 2.8125rem;
    line-height: 28px;
    top: -21px;
  }
}
/* line 622, ../scss/_local_css.scss */
article .video {
  margin: 0 3.375rem 2.5rem 3.375rem;
  position: relative;
  padding-bottom: 49.65%;
  /* 16:9 */
  height: 0;
}
@media screen and (max-width: 849px) {
  /* line 622, ../scss/_local_css.scss */
  article .video {
    margin: 0 4.1875rem 2.5rem 4.1875rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 622, ../scss/_local_css.scss */
  article .video {
    margin: 0 0.6875rem 2.5rem 0.6875rem;
  }
}
/* line 634, ../scss/_local_css.scss */
article .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 642, ../scss/_local_css.scss */
article .articleImage {
  margin: 0 3.375rem 2.5rem 3.375rem;
}
@media screen and (max-width: 849px) {
  /* line 642, ../scss/_local_css.scss */
  article .articleImage {
    margin: 0 4rem 2.5rem 4rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 642, ../scss/_local_css.scss */
  article .articleImage {
    margin: 0 0.6875rem 2.5rem 0.6875rem;
  }
}
/* line 650, ../scss/_local_css.scss */
article .articleImage img {
  display: block;
  width: 100%;
}
/* line 656, ../scss/_local_css.scss */
article .byline p {
  font-size: 1.125rem;
  font-family: Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  margin: 0 0 1.875rem 1.4375rem;
}
@media screen and (max-width: 849px) {
  /* line 656, ../scss/_local_css.scss */
  article .byline p {
    margin: 0 0 1.4375rem 2.9375rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 656, ../scss/_local_css.scss */
  article .byline p {
    display: none;
  }
}
/* line 666, ../scss/_local_css.scss */
article .byline p.phone {
  display: none;
}
@media screen and (max-width: 767px) {
  /* line 666, ../scss/_local_css.scss */
  article .byline p.phone {
    display: block;
    margin: 0 0 1.4375rem 0.6875rem;
  }
}
/* line 674, ../scss/_local_css.scss */
article .byline .name {
  font-weight: bolder;
}
/* line 677, ../scss/_local_css.scss */
article .byline a {
  text-decoration: none;
  text-transform: uppercase;
  color: #882346;
  font-weight: bolder;
}
/* line 682, ../scss/_local_css.scss */
article .byline a:hover {
  text-decoration: underline;
}
/* line 687, ../scss/_local_css.scss */
article .share {
  float: right;
  margin: 0 1.4375rem 0 0;
}
@media screen and (max-width: 849px) {
  /* line 687, ../scss/_local_css.scss */
  article .share {
    margin: 0 2.9375rem 0 0;
  }
}
@media screen and (max-width: 767px) {
  /* line 687, ../scss/_local_css.scss */
  article .share {
    margin: 0 0.6875rem 0 0;
  }
}

/* line 699, ../scss/_local_css.scss */
.closing {
  margin: auto;
  max-width: 58rem;
}
/* line 702, ../scss/_local_css.scss */
.closing .line {
  border-top: 1px solid #707070;
  margin: 0 1.25rem 6.875rem 1.25rem;
}
@media screen and (max-width: 849px) {
  /* line 702, ../scss/_local_css.scss */
  .closing .line {
    margin: 0 2.9375rem 5rem 2.9375rem;
  }
}
@media screen and (max-width: 767px) {
  /* line 702, ../scss/_local_css.scss */
  .closing .line {
    margin: 0 0.5rem 5rem 0.5rem;
  }
}
/* line 712, ../scss/_local_css.scss */
.closing .tags {
  margin: 3.75rem 0 0 0.1875rem;
}
@media screen and (max-width: 767px) {
  /* line 712, ../scss/_local_css.scss */
  .closing .tags {
    margin: 2.5rem auto 0 auto;
    display: flex;
    justify-content: space-around;
  }
}
/* line 720, ../scss/_local_css.scss */
.closing .tags a {
  border: 1px solid #707070;
  padding: 0.625rem 1.5625rem;
  margin-right: 0.75rem;
  font-size: 0.875rem;
  font-family: Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #707070;
}
@media screen and (max-width: 767px) {
  /* line 720, ../scss/_local_css.scss */
  .closing .tags a {
    font-size: 0.625rem;
    padding: 0.625rem 1.5625rem;
    margin-right: 0;
  }
}
/* line 735, ../scss/_local_css.scss */
.closing .tags a:hover {
  text-decoration: underline;
}
/* line 740, ../scss/_local_css.scss */
.closing .share {
  float: right;
  margin: 3.75rem 0 0 0;
}
@media screen and (max-width: 767px) {
  /* line 740, ../scss/_local_css.scss */
  .closing .share {
    margin: 2.5rem 0 0 0;
    float: none;
    display: flex;
    justify-content: center;
  }
}

/* line 754, ../scss/_local_css.scss */
footer .full-width {
  width: 100%;
  max-width: 100%;
}
/* line 758, ../scss/_local_css.scss */
footer .navigation {
  background-color: #d9d9d9;
  height: 15.25rem;
  margin: auto;
  max-width: 100%;
}
/* line 764, ../scss/_local_css.scss */
footer .navigation nav {
  max-width: 58rem;
  margin: auto;
}
/* line 767, ../scss/_local_css.scss */
footer .navigation nav ul {
  padding: 7.125rem 4.625rem 0 4.625rem;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 767px) {
  /* line 767, ../scss/_local_css.scss */
  footer .navigation nav ul {
    padding: 2.5rem 0 0 0;
    flex-direction: column;
    justify-content: space-between;
    height: 167px;
  }
}
@media screen and (max-width: 767px) {
  /* line 780, ../scss/_local_css.scss */
  footer .navigation nav ul li {
    text-align: center;
  }
}
/* line 786, ../scss/_local_css.scss */
footer .navigation nav ul li a {
  font-family: Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  color: #707070;
  font-size: 1rem;
  font-weight: bolder;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 793, ../scss/_local_css.scss */
footer .navigation nav ul li a:hover {
  text-decoration: underline;
}
/* line 801, ../scss/_local_css.scss */
footer .bottom {
  background-color: #882346;
  height: 4.375rem;
}
@media screen and (max-width: 767px) {
  /* line 801, ../scss/_local_css.scss */
  footer .bottom {
    height: 9.375rem;
  }
}
/* line 807, ../scss/_local_css.scss */
footer .bottom .elements {
  margin: auto;
  max-width: 58rem;
  height: 4.375rem;
}
@media screen and (max-width: 767px) {
  /* line 807, ../scss/_local_css.scss */
  footer .bottom .elements {
    height: 9.375rem;
  }
}
/* line 814, ../scss/_local_css.scss */
footer .bottom .elements .social {
  float: right;
  margin: 1.5625rem 1.75rem 0 0;
}
@media screen and (max-width: 767px) {
  /* line 814, ../scss/_local_css.scss */
  footer .bottom .elements .social {
    width: 250px;
    margin: auto;
    float: none;
    display: flex;
    justify-content: space-around;
    padding: 2rem 0 1.4375rem 0;
  }
}
/* line 828, ../scss/_local_css.scss */
footer .bottom .elements .social .icon a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
/* line 835, ../scss/_local_css.scss */
footer .bottom .elements .social .instagram {
  display: inline-block;
  background: url("../images/sprite.png") no-repeat 0px -43px;
  width: 1.1875rem;
  height: 1.25rem;
  margin-right: 1.5rem;
}
/* line 842, ../scss/_local_css.scss */
footer .bottom .elements .social .twitter {
  display: inline-block;
  background: url("../images/sprite.png") no-repeat -32px -45px;
  width: 1.1875rem;
  height: 1.0625rem;
  margin-right: 1.5rem;
}
/* line 849, ../scss/_local_css.scss */
footer .bottom .elements .social .facebook {
  display: inline-block;
  background: url("../images/sprite.png") no-repeat -60px -43px;
  width: 0.625rem;
  height: 1.1875rem;
}
/* line 856, ../scss/_local_css.scss */
footer .bottom .elements .copyright {
  height: 4.375rem;
}
@media screen and (max-width: 767px) {
  /* line 856, ../scss/_local_css.scss */
  footer .bottom .elements .copyright {
    margin: 0 auto 0 auto;
    width: 17.375rem;
  }
}
/* line 865, ../scss/_local_css.scss */
footer .bottom .elements .copyright .cuny {
  display: inline-block;
  background: url("../images/sprite.png") no-repeat -240px 0px;
  width: 2.8125rem;
  height: 2.75rem;
  margin: 0.8125rem 0 0 1.75rem;
}
@media screen and (max-width: 767px) {
  /* line 865, ../scss/_local_css.scss */
  footer .bottom .elements .copyright .cuny {
    margin-left: 0;
  }
}
/* line 874, ../scss/_local_css.scss */
footer .bottom .elements .copyright .cuny a {
  width: 100%;
  height: 100%;
}
/* line 881, ../scss/_local_css.scss */
footer .bottom .elements .copyright .copy {
  display: inline-block;
  position: absolute;
  border-left: 2px solid #fff;
  height: 2.75rem;
  margin: 0.8125rem 0.5625rem 0 0.875rem;
}
@media screen and (max-width: 767px) {
  /* line 881, ../scss/_local_css.scss */
  footer .bottom .elements .copyright .copy {
    margin-right: 0;
  }
}
/* line 891, ../scss/_local_css.scss */
footer .bottom .elements .copyright .copy p {
  font-family: Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  color: #fff;
  font-size: 0.75rem;
  margin: 0.9375rem 0 0 0.875rem;
  padding: 0;
}

/* line 907, ../scss/_local_css.scss */
.share .icon a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
/* line 914, ../scss/_local_css.scss */
.share .email {
  display: inline-block;
  background: url("../images/sprite.png") no-repeat 0px 0px;
  width: 1.8125rem;
  height: 1.25rem;
  margin-right: 1.5rem;
}
/* line 921, ../scss/_local_css.scss */
.share .twitter {
  display: inline-block;
  background: url("../images/sprite.png") no-repeat -32px 0px;
  width: 1.5625rem;
  height: 1.25rem;
  margin-right: 1.5rem;
}
/* line 928, ../scss/_local_css.scss */
.share .facebook {
  display: inline-block;
  background: url("../images/sprite.png") no-repeat -60px 0px;
  width: 0.6875rem;
  height: 1.25rem;
}
@media screen and (max-width: 767px) {
  /* line 934, ../scss/_local_css.scss */
  .share.open {
    margin-top: 0.1875rem;
  }
  /* line 937, ../scss/_local_css.scss */
  .share.open .email {
    background: url("../images/sprite.png") no-repeat 0px -25px;
    width: 1.25rem;
    height: 0.875rem;
    margin-right: 0.625rem;
  }
  /* line 943, ../scss/_local_css.scss */
  .share.open .twitter {
    background: url("../images/sprite.png") no-repeat -32px -25px;
    width: 1.0625rem;
    height: 0.875rem;
    margin-right: 0.625rem;
  }
  /* line 949, ../scss/_local_css.scss */
  .share.open .facebook {
    background: url("../images/sprite.png") no-repeat -60px -25px;
    width: 0.5rem;
    height: 0.875rem;
  }
}

/* line 961, ../scss/_local_css.scss */
#skipnav a, a.skipTranscript {
  position: absolute;
  z-index: 3000;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  padding-bottom: 25px;
}

/* line 969, ../scss/_local_css.scss */
#skipnav a:hover, #skipnav a:focus, #skipnav a:active {
  clip: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 10px 0;
  background: #fdf6e7;
  border: 2px solid #990000;
  border-left: none;
  border-right: none;
  text-align: center;
  font-weight: bold;
  color: #990000;
}
