@charset "utf-8";
/* CSS Document */

//
// Custom Styles 
//

// Media Query Starts
// @media #{$Five00} {}
// @media #{$Phone} {}
// @media #{$iPadPortrait} {} 
// @media #{$Desktop} {}

// @media #{$Small} {}
// @media #{$Medium} {}
// @media #{$Large} {}
// @media #{$xLarge} {}

// Fonts and Sizes - OVERRIDE - ?????
  //Fonts
  $Roboto: 'Roboto', sans-serif; //
  //Weights
  $Roboto400: 400;
  $Roboto500: 500;
  $Roboto700: 700;
  $Roboto900: 900;

  $Lucida: Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;

  $PMNCaecilia: Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;

  $Barlow: Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;

  //Italics for all
  $italic: italic;

  //Headings
  $h1-font-size-D: rem-calc(55); // 
  $h1-font-size-T: rem-calc(50); // 
  $h1-font-size-P: rem-calc(22); // 
  $h2-font-size-D: rem-calc(30); // 
  $h2-font-size-T: rem-calc(28); // 
  $h2-font-size-P: rem-calc(20); // 
  $h3-font-size-D: rem-calc(18); // not used
  $h3-font-size-T: rem-calc(18); // not used
  $h3-font-size-P: rem-calc(18); // not used
  $h4-font-size: rem-calc(14); // not used 
  $h5-font-size: rem-calc(15); // not used 
  $h6-font-size: rem-calc(16); // not used 

  // Article Styles
  //$paragraph-font-size: rem-calc(18); // not Used
  $article-copy: rem-calc(18); // all
  $byline: rem-calc(18); // D and T
  $byline-P: rem-calc(12); // P
  $subheader-D: rem-calc(30);
  $subheader-T: rem-calc(22);
  $subheader-P: rem-calc(20); // missing from the design files
  $caption-D: rem-calc(13);
  $caption-T: rem-calc(16);
  $caption-T: rem-calc(12);
  $photoCredit: rem-calc(15); // D and T
  $photoCredit-P: rem-calc(12); // P
  $quote-D: rem-calc(26);
  $quote-T: rem-calc(36);
  $quote-P: rem-calc(24);
  $tag: rem-calc(14); //D and T
  $tag-P: rem-calc(10); //P


  //Homepage Text  
  //$h2-homepage-list: rem-calc(20); // 

  //Nav
  $nav: rem-calc(16);
  $nav-bottom: rem-calc(16);
  $nav-bottom-P: rem-calc(14);

  //Misc
  $copyright: rem-calc(12); // all

// Colors
  //Main
  $color-maroon: #882346; 	// Brand Guide = r136 g35 b70 //#7c2142 BCF // #781a42 EDU //$color-maroon2: #5d0e2e;
  $color-black: #000; 		//titles
  $color-white: #fff;

  //Additional
  $color-gray222: #222;		//text content
  $color-gray707: #707070;  //lines and borders on images and multimedia
  $color-grayE5E: #e5e5e5;	//update box
  $color-grayD9D: #d9d9d9; 	//footer bg

  
  $color-gray333: #333;
  $color-gray444: #444;
  $color-gray555: #555;
  $color-gray666: #666;
  $color-gray777: #777;
  $color-gray707: #707070;
  $color-gray999: #999;
  $color-grayccc: #ccc;
  $color-gray404: #404040;
  $color-graya2a: #a2a2a2;
  $color-grayece: #ececec;
  $color-gray7c7: #7c7c7c;
  $color-graye6e: #e6e6e6;
  $color-gray5a5: #5a5a5a;
  $color-grayefe: #efefef;

// Line Styles
  $thin-maroon: 1px solid $color-maroon;
  $thin-black: 1px solid $color-black;
  $thick-white: 2px solid $color-white;
  $thin-gray222: 1px solid $color-gray222;
  $thin-gray707: 1px solid $color-gray707;
  $thick-gray707: 2px solid $color-gray707;
  $thin-grayE5E: 1px solid $color-grayE5E;
  $thin-grayD9D: 1px solid $color-grayD9D;

// width
  $full: rem-calc(928);

body {
  background-color: $color-white;
  //border: $thin-maroon;
  padding: 0;
  margin: 0;
}

.full-width {
	//width: 100%;
  	max-width: 100%;
}

header {
  //border: $thin-maroon;
  .full-width {
    z-index: 1000;
  	position: fixed;
  	background-color: $color-maroon;
  	width: 100%;
  	max-width: 100%;
  	height: rem-calc(45);
  	nav.desktop {
  		margin: auto;
  		max-width: $full;
  		//border: $thin-maroon;
		ul {
			margin: 0;
			padding: rem-calc(14) 0 0 rem-calc(24);
			list-style-type: none;
			li {
				display: inline-block;
				padding-right: rem-calc(45);
				a {
					font-family: $Lucida;
					color: $color-white;
					font-size: $nav;
					font-weight: bolder;
					text-decoration: none;
					text-transform: uppercase;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
		@media #{$Phone} {
			display: none;
		}
	}
  }
  nav.mobile {

  }
  .brand {
    padding-top: rem-calc(45);
    max-width: $full;
    margin: auto;
    border-bottom: $thin-gray707;
    .logo {
    	//border: $thin-maroon;
    	display: block;
    	margin: rem-calc(30) auto rem-calc(16) auto;
    	background: url("../images/sprite.png") no-repeat 0px -67px;
    	background-origin: content-box;
    	width: rem-calc(228);
    	height: rem-calc(66);
    }
	img {
		display: block;
		margin: auto;
    	padding: rem-calc(30) 0 rem-calc(16) 0;
	}
  }
}

section {
  //border: $thin-maroon;
}

article {
  //border: $thin-maroon;
  margin: auto;
  max-width: $full;
  padding-bottom: rem-calc(45);
  h1{
  	font-size: $h1-font-size-D;
  	line-height: 56px;
  	font-family: $Roboto;
  	font-weight: $Roboto900;
  	//font-style: $italic;
  	text-align: center;
  	padding: 0 rem-calc(54) 0 rem-calc(54);
  	margin: rem-calc(45) 0 rem-calc(35) 0;
  }
  .subheader {
  	padding: 0 rem-calc(54) 0 rem-calc(54);
  	p {
  		font-family: $PMNCaecilia;
  		font-size: $subheader-D;
  		line-height: 32px;
  		padding: 0 0 rem-calc(20) 0;
  		margin: 0;
  	}
  }
  .copy {
    padding: 0 rem-calc(54) 0 rem-calc(54);
    h2 {
  	 font-size: $h2-font-size-D;
  	 font-family: $Roboto;
  	 font-weight: $Roboto700;
     color: $color-gray222;
     padding: 0 0 rem-calc(20) 0;
     margin: 0;
    }
    h3 {
    font-size: $h3-font-size-D;
    font-family: $Roboto;
    font-weight: $Roboto700;
    color: $color-gray222;
    margin: 0;
    }
    p {
      font-family: $Barlow;
      font-size: $article-copy;
      color: $color-gray222;
      line-height: 30px;
      margin: 0;
      padding: 0 0 rem-calc(30) 0;
    }
  }
  .update {
    background-color: $color-grayE5E;
    padding: rem-calc(27) rem-calc(34);
    margin: 0 rem-calc(20) rem-calc(35) rem-calc(20);
    p {
      font-family: $Barlow;
      font-size: $article-copy;
      line-height: 30px;
      margin-top: 30px;
      //padding: 0 0 rem-calc(30) 0;
      &:first-of-type {
        display: inline;
      }
      &:last-of-type {
        //margin-top: 0;
      }
    }
    .timestamp {
      font-family: $Barlow;
      font-size: $article-copy;
      line-height: 30px;
      //margin: 0;
      //padding: 0 0 rem-calc(30) 0;
      display: inline;
      .bolded {
        font-weight: bolder;
        .upper {
          text-transform: uppercase;
        }
      }
    }
    .updateImage {
      //margin: 0 rem-calc(20) rem-calc(25) rem-calc(20);
      img {
        margin-top: rem-calc(25);
        display: block;
        width: 100%;
        border: $thick-gray707;
      }
    }
  }
  .featureImage {
    margin: 0 rem-calc(20) rem-calc(25) rem-calc(20);
    img {
  	 display: block;
  	 width: 100%;
    }
  }
  .floatImage {
  	float: right;
  	margin: 0 rem-calc(54) rem-calc(10) rem-calc(10);
  	width: rem-calc(275);
  	img {
  		width: rem-calc(275);
  	}
  	.caption{
  		font-family: $Barlow;
  		font-size: $caption-D;
  		color: $color-gray222;
  		margin: 0;

  	}
  	.photoCredit {
  		font-family: $Barlow;
  		font-size: $photoCredit;
  		font-style: $italic;
  		color: $color-graya2a;
  		margin: 0;
  	}
  }
  .quote {
  	//border: $thin-maroon;
  	float: left;
  	width: rem-calc(275);
  	//padding: 0 0 0 rem-calc(55);
  	margin: 0 rem-calc(35) 0 rem-calc(54);
  	.doubleQuotes{
  		//display: inline-block;
  		background: url("../images/sprite.png") no-repeat -240px -45px;
		width: rem-calc(34);
		height: rem-calc(30);
  	}
  	p {
  		//display: inline;
  		font-size: $quote-D;
  		font-family: $PMNCaecilia;
  		margin: 0 0 0 rem-calc(46);
  		position: relative;
  		top: -23px;
  	}
  }
  .video {
    margin: 0 rem-calc(54) rem-calc(40) rem-calc(54);
    position: relative;
    padding-bottom: 49.65%; /* 16:9 */
    //padding-top: 25px;
    height: 0;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .articleImage{
  	margin: 0 rem-calc(54) rem-calc(40) rem-calc(54);
  	img {
  	 display: block;
  	 width: 100%;
    }
  }
  .byline {
    p {
      font-size: $byline;
      font-family: $Lucida;
      margin: 0 0 rem-calc(30) rem-calc(23);
    }
    .name {
      font-weight: bolder;
    }
    a {
      text-decoration: none;
      text-transform: uppercase;
      color: $color-maroon;
      font-weight: bolder;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .share {
    float: right;
    margin: 0 rem-calc(23) 0 0;
  }
}

.closing {
  margin: auto;
  max-width: $full;
  .line {
    border-top: $thin-gray707;
    margin: 0 rem-calc(20) rem-calc(110) rem-calc(20); // *****why is this 110 needed?
  }
  .tags {
    margin: rem-calc(60) 0 0 rem-calc(3);
    a {
      //height: rem-calc(30);
      border: $thin-gray707;
      padding: rem-calc(10) rem-calc(25);
      margin-right: rem-calc(12);
      font-size: $tag;
      font-family: $Lucida;
      text-transform: uppercase;
      text-decoration: none;
      color: $color-gray707;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .share {
    float: right;
    margin: rem-calc(60) 0 0 0;
  }
}

footer {
  //border: $thin-maroon;
  .full-width {
    width: 100%;
    max-width: 100%;
  }
  .navigation{
    //border: $thin-maroon;
    background-color: $color-grayD9D;
    height: rem-calc(244);
    margin: auto;
    max-width: 100%;
    nav {
      max-width: $full;
      margin: auto;
        ul {
        //margin: 0;
        padding: rem-calc(114) rem-calc(74) 0 rem-calc(74);
        list-style-type: none;
        //justify-content: center;
        display: flex;
        justify-content: space-around;
        li {
          //display: inline-block;
          //padding-right: rem-calc(45);
          a {
            font-family: $Lucida;
            color: $color-gray707;
            font-size: $nav-bottom;
            font-weight: bolder;
            text-decoration: none;
            text-transform: uppercase;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
  	}
  }
  .bottom {
    background-color: $color-maroon;
    height: rem-calc(70);
    .elements {
      margin: auto;
  	  max-width: $full;
  	  height: rem-calc(70);
  	  .social {
  	  	float: right;
  	  	//display: inline-block;
  	  	margin: rem-calc(25) rem-calc(28) 0 0;
  	  	.icon {
  	  	  a {
  	  		//border: $thick-white;
  	  		width: 100%;
      		height: 100%;
      		display: inline-block;
      	  }
      	}
      	.instagram {
			display: inline-block;
			background: url("../images/sprite.png") no-repeat 0px -43px;
			width: rem-calc(19);
			height: rem-calc(20);
			margin-right: rem-calc(24);
		}
      	.twitter {
		    display: inline-block;
		    background: url("../images/sprite.png") no-repeat -32px -45px;
		    width: rem-calc(19);
		    height: rem-calc(17);
		    margin-right: rem-calc(24);
		}
		  .facebook {
		    display: inline-block;
		    background: url("../images/sprite.png") no-repeat -60px -43px;
		    width: rem-calc(10);
		    height: rem-calc(19);
		}
  	  }
  	  .copyright {
  	  	height: rem-calc(70);
  	  	.cuny {
		  display: inline-block;
		  background: url("../images/sprite.png") no-repeat -240px 0px;
		  width: rem-calc(45);
		  height: rem-calc(44);
		  margin: rem-calc(13) 0 0 rem-calc(28);
		  a {
		      //border: $thin-maroon;
		      width: 100%;
		      height: 100%;
		      display: inline-block;
		    }
    	}
    	.copy {
    	  display: inline-block;
    	  position: absolute;
    	  //top: -17px;
    	  border-left: $thick-white;
    	  height: rem-calc(44);
    	  margin: rem-calc(13) rem-calc(9) 0 rem-calc(14);
    	  p {
    	  	font-family: $Lucida;
    	  	color: $color-white;
    	  	font-size: $copyright;
    	  	//line-height: 60px;
    	  	margin: rem-calc(15) 0 0 rem-calc(14);
    	  	padding: 0;
    	  }
    	}
  	  }
    }
  }
}

.share {
  .icon {
    a {
      //border: $thin-maroon;
      width: 100%;
      height: 100%;
      display: inline-block;
    }
  }
  .email {
    display: inline-block;
    background: url("../images/sprite.png") no-repeat 0px 0px;
    width: rem-calc(29);
    height: rem-calc(20);
    margin-right: rem-calc(24);
  }
  .twitter {
    display: inline-block;
    background: url("../images/sprite.png") no-repeat -32px 0px;
    width: rem-calc(25);
    height: rem-calc(20);
    margin-right: rem-calc(24);
  }
  .facebook {
    display: inline-block;
    background: url("../images/sprite.png") no-repeat -60px 0px;
    width: rem-calc(11);
    height: rem-calc(20);
  }
}



/* SkipNav */
#skipnav a, a.skipTranscript {
	position:absolute;
	z-index:3000;
	clip:rect(0 0 0 0);
	height:1px;
	width:1px;
	padding-bottom:25px;
}
#skipnav a:hover, #skipnav a:focus, #skipnav a:active {
	clip:auto;
	left:0;top:0;
	width:100%;
	height:auto;
	margin:0;
	padding:10px 0;
	background:#fdf6e7;
	border:2px solid #990000;
	border-left:none;
	border-right:none;
	text-align:center;
	font-weight:bold;
	color:#990000;
}
/* SkipNav */