@charset "utf-8";
/* CSS Document */

//
// Custom Styles 
//

// Media Query Starts
// @media #{$Five00} {}
// @media #{$Phone} {}
// @media #{$iPadPortrait} {}
// @media #{$Desktop} {}

// @media #{$Small} {}
// @media #{$Medium} {}
// @media #{$Large} {}
// @media #{$xLarge} {}

// Fonts and Sizes - OVERRIDE - ?????
  //Fonts

//Fonts
  @font-face { 
    font-family: 'ComeniaSansCondRegular';
    src: url('http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co-webfont.eot');
    src: local('☺'), url('http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co-webfont.woff') format('woff'), url('http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co-webfont.ttf') format('truetype'), url('http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co-webfont.svg#webfontWDfTSCpx') format('svg');
    font-weight: normal;
    font-style: normal; 
  }

  //not used in BCF
  @font-face {
    font-family: 'ComeniaSansCondBold';
    src: url('http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co_bold-webfont.eot');
    src: local('☺'), url('http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co_bold-webfont.woff') format('woff'), url('http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co_bold-webfont.ttf') format('truetype'), url('http://www.brooklyn.cuny.edu/web/fonts/comenia_sans_co_bold-webfont.svg#webfont7RYPTQcC') format('svg');
    font-weight: normal;
    font-style: normal;
  }






  
  $Roboto: 'Roboto', sans-serif; //
  //Weights
  $Roboto400: 400;
  $Roboto500: 500;
  $Roboto700: 700;
  $Roboto900: 900;

  $Lucida: Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;

  $PMNCaecilia: Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;

  $Barlow: Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif;

  //Italics for all
  $italic: italic;

  // Article Styles
  //$paragraph-font-size: rem-calc(18); // not Used
  $h1-font-size-D: rem-calc(55); // 
  $h1-font-size-T: rem-calc(50); // 
  $h1-font-size-P: rem-calc(22); // 

  $h2-font-size-D: rem-calc(30); // 
  $h2-font-size-T: rem-calc(28); // 
  $h2-font-size-P: rem-calc(20); // 

  $h3-font-size: rem-calc(20); // D and T
  $h3-font-size-P: rem-calc(18); // P

  $h4-font-size: rem-calc(14); // not used 
  $h5-font-size: rem-calc(15); // not used 
  $h6-font-size: rem-calc(16); // not used 

  $article-copy: rem-calc(18); // all
  $byline: rem-calc(18); // D and T
  $byline-P: rem-calc(12); // P
  $subheader-D: rem-calc(30);
  $subheader-T: rem-calc(22);
  $subheader-P: rem-calc(20); // missing from the design files
  $caption-D: rem-calc(13);
  $caption-T: rem-calc(16);
  $caption-P: rem-calc(12);
  $photoCredit: rem-calc(15); // D and T
  $photoCredit-P: rem-calc(12); // P
  $quote-D: rem-calc(26);
  $quote-T: rem-calc(36);
  $quote-P: rem-calc(24);
  $tag: rem-calc(14); //D and T
  $tag-P: rem-calc(10); //P

  // Content Pages
  $h1-content-font-size-D: rem-calc(36); // 
  $h1-content-font-size-T: rem-calc(28); //
  $h1-content-font-size-P: rem-calc(25); //

  //Homepage Text  
  $h2-homepage-D: rem-calc(42);
  $h2-homepage-T: rem-calc(35);
  $h2-homepage-P: rem-calc(24);
  $p-homepage-D: rem-calc(20);
  $p-homepage-T: rem-calc(16);
  $p-homepage-P: rem-calc(15);

  // Archive Text
  $h2-archive-D: rem-calc(42);
  $h2-archive-T: rem-calc(38);
  $h2-archive-P: rem-calc(36);
  $p-archive: rem-calc(18);
  $p-filter: rem-calc(26);
  $p-filter-P: rem-calc(22);

  //Nav
  $nav: rem-calc(16);
  $nav-P: rem-calc(18);
  $nav-bottom: rem-calc(16);
  $nav-bottom-P: rem-calc(14);

  //Misc
  $copyright: rem-calc(12); // all

// Colors
  //Main
  $color-maroon: #882346; 	// Brand Guide = r136 g35 b70 //#7c2142 BCF // #781a42 EDU //$color-maroon2: #5d0e2e;
  $color-maroon-dark: #4B091F;
  $color-black: #000; 		//titles
  $color-white: #fff;

  //Additional
  $color-gray222: #222;		//text content
  $color-gray707: #707070;  //lines and borders on images and multimedia
  $color-grayE5E: #e5e5e5;	//update box
  $color-grayEDE: #ededed;
  $color-grayD9D: #d9d9d9; 	//footer bg
  $color-gray716: #716F6F;  //mobile nav elements

  // Others, not used
  $color-gray333: #333;
  $color-gray444: #444;
  $color-gray555: #555;
  $color-gray666: #666;
  $color-gray777: #777;
  $color-gray707: #707070;
  $color-gray999: #999;
  $color-grayccc: #ccc;
  $color-gray404: #404040;
  $color-graya2a: #a2a2a2;
  $color-grayece: #ececec;
  $color-gray7c7: #7c7c7c;
  $color-graye6e: #e6e6e6;
  $color-gray5a5: #5a5a5a;
  $color-grayefe: #efefef;

// Line Styles
  $thin-maroon: 1px solid $color-maroon;
  $thick-maroon: 3px solid $color-maroon; // anchor underlines
  $thin-black: 1px solid $color-black;
  $thick-white: 2px solid $color-white;
  $thin-gray222: 1px solid $color-gray222;
  $thin-gray707: 1px solid $color-gray707;
  $thick-gray707: 2px solid $color-gray707;
  $thin-grayE5E: 1px solid $color-grayE5E;
  $thin-grayEDE: 1px solid $color-grayEDE;
  $thin-grayD9D: 1px solid $color-grayD9D;

// Major Elements
// width
  $full: rem-calc(928);  // needs to be 960, so we would add 16 to each side
  $sprite: url("http://www.brooklyn.cuny.edu/web/com_misc/sprite-bclongreads.png") no-repeat;

body {
  background-color: $color-white;
  //border: $thin-maroon;
  padding: 0;
  margin: 0;
  &.modal {
    overflow: hidden;
  }
}

.full-width {
	//width: 100%;
  	max-width: 100%;
}

// hidden
.hidden{
	display: none;
}

// focus
*:focus { outline:3px solid #FAD129;}

// FadeIn
@-webkit-keyframes "FadeIn"{from{opacity:0;}to{opacity:1;}}
@keyframes "FadeIn"{from{opacity:0;}to{opacity:1;}}


//Site
header {
  //border: $thin-maroon;
  .full-width {
    z-index: 1000;
  	position: fixed;
  	background-color: $color-maroon;
  	width: 100%;
  	max-width: 100%;
  	height: rem-calc(45);
  	nav.desktop {
  		margin: auto;
  		max-width: $full;
  		//border: $thin-maroon;
		ul {
			margin: 0;
			padding: rem-calc(14) 0 0 rem-calc(24);
			list-style-type: none;
			li {
				display: inline-block;
				padding-right: rem-calc(45);
				a {
					font-family: $Lucida;
					color: $color-white;
					font-size: $nav;
					font-weight: bolder;
					text-decoration: none;
					text-transform: uppercase;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
		  @media #{$Phone} {
			 display: none;
		  }
    }
  	.mobile-toggle {
  	  display: none;
  	  margin: auto;
  	  max-width: $full;
  	  margin: 0 0 0 rem-calc(24);
  	  width: rem-calc(48);
  	  height: rem-calc(45);
  	  background-color: $color-maroon-dark;
  	  @media #{$Phone} {
  		  display: inline-block;
  		  animation: FadeIn .75s;
      }
    	.lines {
    		background: $sprite -290px -25px;
    	  width: rem-calc(28);
    	  height: rem-calc(25);
    	  cursor: pointer;
    	  animation: FadeIn .75s;
    	  margin: rem-calc(10) 0 0 rem-calc(10);
    	}
    	.ex {
    		background: $sprite -290px 0px;
    	  width: rem-calc(23);
    	  height: rem-calc(23);
    	  cursor: pointer;
    	  animation: FadeIn .75s;
    	  margin: rem-calc(12) 0 0 rem-calc(13);
    	}
    }
  }
  .mobile-white {
  	padding-top: rem-calc(45);
  	z-index: 900;
  	position: fixed;
  	width: 100%;
  	height: 100%;
  	background-color: $color-white;
  	.logo {
  		display: block;
    	margin: rem-calc(20) 0 rem-calc(20) rem-calc(16);
    	background: $sprite -231px -105px;
    	background-origin: content-box;
    	width: rem-calc(114);
    	height: rem-calc(36);
  	}
  	nav.mobile {
  		ul {
	  		margin: 0;
	  		padding: rem-calc(32) 0 rem-calc(32) rem-calc(20);
	  		list-style-type: none;
	  		li {
	  			padding: 0 0 rem-calc(47) 0;
	  			a {
	  				font-family: $Lucida;
		  			font-size: $nav-P;
		  			color: $color-gray716;
		  			text-transform: uppercase;
		  			text-decoration: none;
	  				&:hover {
						  text-decoration: underline;
				    }
	  			}
	  		}
  		}
  	}
  }

  .brand {
    padding-top: rem-calc(45);
    max-width: $full;
    margin: auto;
    border-bottom: $thin-gray707;
    @media #{$iPadPortrait} {
      margin: 0 rem-calc(47) 0 rem-calc(47);
    }
    @media #{$iPadPortrait} {
      margin: 0 rem-calc(8) 0 rem-calc(8);
    }
    .logo {
    	//border: $thin-maroon;
    	display: block;
    	margin: rem-calc(30) auto rem-calc(16) auto;
    	background: $sprite 0px -67px;
    	//background-origin: content-box;
    	width: rem-calc(228);
    	height: rem-calc(66);
    	@media #{$iPadPortrait} {
    		margin: rem-calc(30) auto rem-calc(8) auto;
    		background: $sprite -77px 0px;
    		width: rem-calc(162);
    		height: rem-calc(47);
    	}
    	a {
    		width: 100%;
      	height: 100%;
      	display: inline-block;
    	}
    }
  }
}

section {
  //border: $thin-maroon;
}

.homepageList {
	//border: $thin-maroon;
	margin: 0 auto rem-calc(65) auto;
	max-width: $full;
	padding: rem-calc(30) 0 0 0;
  @media #{$Phone} {
    margin: 0 auto rem-calc(31) auto;
    padding: rem-calc(20) 0 rem-calc(0) 0;
  }
	.articleItem {
		//border: $thin-maroon;
    margin: 0 rem-calc(20) rem-calc(82) rem-calc(20);
    position: relative;
    &:first-of-type {
      margin-top: 0;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
    @media #{$iPadPortrait} {
      margin: 0 rem-calc(47) rem-calc(75) rem-calc(47);
    }
    @media #{$Phone} {
      margin: rem-calc(23) rem-calc(8) rem-calc(0) rem-calc(8);
      border-bottom: $thin-grayEDE;
      &:last-of-type {
        border-bottom: none;
      }
    }
		a {
			img {
        display: block;
        max-width: 100%;
        border: $thick-gray707;
        box-sizing: border-box;
			}
      .updated {
        //border: $thin-maroon;
        background-color: $color-gray444;
        padding: rem-calc(6) rem-calc(13) rem-calc(4);
        //margin: rem-calc(15) rem-calc(15) 0 0;
        position: absolute;
        top: rem-calc(15);
        right: rem-calc(15);
        color: $color-white;
        font-family: $Lucida;
        font-weight: bolder;
        text-transform: uppercase;
        @media #{$Phone} {
          top: rem-calc(8);
          right: rem-calc(8);
        }
      }
      .video {
        //border: $thin-maroon;
        background: $sprite 0px -135px;
        background-color: $color-grayE5E;
        position: absolute;
        top: rem-calc(15);
        right: rem-calc(15);
        width: rem-calc(35);
        height: rem-calc(35);
        @media #{$Phone} {
          background: $sprite -70px -135px;
          width: rem-calc(22);
          height: rem-calc(22);
          top: rem-calc(12);
          right: rem-calc(12);
        }
      }
      .gallery {
        //border: $thin-maroon;
        background: $sprite -35px -135px;
        background-color: $color-grayE5E;
        position: absolute;
        top: rem-calc(15);
        right: rem-calc(15);
        width: rem-calc(35);
        height: rem-calc(35);
        @media #{$Phone} {
          background: $sprite -92px -135px;
          width: rem-calc(22);
          height: rem-calc(22);
          top: rem-calc(12);
          right: rem-calc(12);
        }
      }
		}
		.copy {
			//border: $thin-maroon;
      background: rgba(255, 255, 255, 0.9);
      box-shadow: 0px 3px 5px rgba(0, 0, 0, .16);
      position: relative;
      top: -162px;
      max-width: 100%;
      margin: 0 rem-calc(93) rem-calc(-162) rem-calc(93);
      padding: rem-calc(20) rem-calc(25) rem-calc(25) rem-calc(25);
      z-index: 2;
      @media #{$iPadPortrait} {
        top: -137px;
        margin: 0 rem-calc(78) rem-calc(-137) rem-calc(78);
        padding: rem-calc(20) rem-calc(28) rem-calc(20) rem-calc(28);
      }
      @media #{$Phone} {
        top: 0;
        box-shadow: none;
        margin: 0;
        padding: rem-calc(18) 0 rem-calc(34) 0;
        background-color: $color-white;
        box-shadow: none;
      }
			h2 {
        font-family: $Roboto;
        font-weight: $Roboto900;
        color: $color-black;
        font-size: $h2-homepage-D;
        margin: 0 0 rem-calc(20) 0;
        padding:0;
        line-height: 44px;
        @media #{$iPadPortrait} {
          font-size: $h2-homepage-T;
          line-height: 35px;
        }
        @media #{$Phone} {
          font-size: $h2-homepage-P;
          line-height: 24px;
          margin: 0 0 rem-calc(13) 0;
        }
				a {
          color: $color-black;
          text-decoration: none;
				}
			}
			p {
        font-family: $PMNCaecilia;
        font-size: $p-homepage-D;
        line-height: 24px;
        margin: 0;
        padding: 0;
        @media #{$iPadPortrait} {
          font-size: $p-homepage-T;
          line-height: 19px;
        }
        @media #{$Phone} {
          font-size: $p-homepage-P;
          line-height: 16px;
        }
			}
		}
	}
}

.archiveList {
  //border: $thin-maroon;
  margin: 0 auto rem-calc(65) auto;
  max-width: $full;
  padding: 0;
  @media #{$Phone} {
    margin: 0 auto rem-calc(70) auto;
    padding: rem-calc(20) 0 rem-calc(0) 0;
  }
  .filter {
    margin: rem-calc(30) rem-calc(20) rem-calc(40) rem-calc(20);
    @media #{$iPadPortrait} {
      margin: rem-calc(30) rem-calc(47) rem-calc(20) rem-calc(47);
    }
    @media #{$Phone} {
      margin: rem-calc(20) rem-calc(11) rem-calc(20) rem-calc(11);
    }
    p {
      font-family: $Roboto;
      font-size: $p-filter;
      color: $color-gray716;
      padding: 0;
      margin: 0;
      @media #{$iPadPortrait} {
      }
      @media #{$Phone} {
        font-size: $p-filter-P;
        text-align: center;
      }
    }
  }
  .articleItem {
    //border: $thin-maroon;
    margin: rem-calc(40) rem-calc(20) rem-calc(40) rem-calc(20);
    padding: 0 0 rem-calc(35) 0;
    border-bottom: $thin-grayEDE;
    &:first-of-type {
      margin-top: 0;
    }
    &:last-of-type {
      margin-bottom: 0;
      border-bottom: none;
    }
    @media #{$iPadPortrait} {
      margin: 0 rem-calc(47) rem-calc(40) rem-calc(47);
    }
    @media #{$Phone} {
      margin: rem-calc(23) rem-calc(8) rem-calc(0) rem-calc(8);
      border-bottom: $thin-grayEDE;
      &:last-of-type {
        border-bottom: none;
        padding: 0;
      }
    }
    h2 {
        font-family: $Roboto;
        font-weight: $Roboto900;
        font-size: $h2-archive-D;
        text-align: center;
        line-height: 46px;
        margin: 0 0 rem-calc(15) 0;
      a {
        color: $color-black;
        text-decoration: none;
      }
      @media #{$iPadPortrait} {
        font-size: $h2-archive-T;
        line-height: 42px;
      }
      @media #{$Phone} {
        font-size: $h2-archive-P;
        line-height: 30px;
      }
    }
    .image {
      position: relative;
      margin: 0 0 rem-calc(20) 0;
      img {
        display: block;
        max-width: 100%;
        border: $thick-gray707;
        box-sizing: border-box;
      }
      .updated {
        position: absolute;
        //border: $thin-maroon;
        background-color: $color-gray444;
        padding: rem-calc(6) rem-calc(13) rem-calc(4);
        //margin: rem-calc(15) rem-calc(15) 0 0;
        top: rem-calc(15);
        right: rem-calc(15);
        color: $color-white;
        font-family: $Lucida;
        font-weight: bolder;
        text-transform: uppercase;
        @media #{$Phone} {
          top: rem-calc(8);
          right: rem-calc(8);
        }
      }
      .video {
        //border: $thin-maroon;
        background: $sprite 0px -135px;
        background-color: $color-grayE5E;
        position: absolute;
        top: rem-calc(15);
        right: rem-calc(15);
        width: rem-calc(35);
        height: rem-calc(35);
        @media #{$Phone} {
          background: $sprite -70px -135px;
          background-color: $color-grayE5E;
          width: rem-calc(22);
          height: rem-calc(22);
          top: rem-calc(12);
          right: rem-calc(12);
        }
      }
      .gallery {
        //border: $thin-maroon;
        background: $sprite -35px -135px;
        background-color: $color-grayE5E;
        position: absolute;
        top: rem-calc(15);
        right: rem-calc(15);
        width: rem-calc(35);
        height: rem-calc(35);
        @media #{$Phone} {
          background: $sprite -92px -135px;
          width: rem-calc(22);
          height: rem-calc(22);
          top: rem-calc(12);
          right: rem-calc(12);
        }
      }
    }
    .timestamp {
      font-family: $Barlow;
      font-size: $article-copy;
      line-height: 30px;
      color: $color-gray222;
      //margin: 0;
      //padding: 0 0 rem-calc(30) 0;
      display: inline;
      .bolded {
          font-weight: bolder;
          .upper {
            text-transform: uppercase;
          }
      }
      @media #{$iPadPortrait} {
        line-height: 28px;
      }
    }
    p {
      font-family: $Barlow;
      font-size: $p-archive;
      line-height: 28px;
      display: inline;
      color: $color-gray222;
      //margin-top: 30px;
      @media #{$iPadPortrait} {
        line-height: 28px;
      }
    }
  }
}

article {
  //border: $thin-maroon;
  margin: auto;
  max-width: $full;
  padding-bottom: rem-calc(45);
  h1{
  	font-family: $Roboto;
	  font-weight: $Roboto900;
    color: $color-black;
  	&.articleTitle {
	  	font-size: $h1-font-size-D;
	  	line-height: 56px;
	  	//font-style: $italic;
	  	text-align: center;
	  	padding: 0 rem-calc(54) 0 rem-calc(54);
	  	margin: rem-calc(48) 0 rem-calc(47) 0;
	  	@media #{$iPadPortrait} {
	  		font-size: $h1-font-size-T;
	  		padding: 0 rem-calc(83) 0 rem-calc(83);
	  		line-height: 45px;
	  		margin: rem-calc(46) 0 rem-calc(44) 0;
	  	}
	  	@media #{$Phone} {
	  		font-size: $h1-font-size-P;
	  		padding: 0 rem-calc(17) 0 rem-calc(17);
	  		line-height: 21px;
	  		margin: rem-calc(28) 0 rem-calc(26) 0;
	  	}
  	}
  	&.contentTitle {
  		font-size: $h1-content-font-size-D;
  		line-height: 36px;
  		padding: 0 rem-calc(54) 0 rem-calc(54);
	  	margin: rem-calc(35) 0 rem-calc(20) 0;
	  	@media #{$iPadPortrait} {
	  		font-size: $h1-content-font-size-T;
	  		padding: 0 rem-calc(83) 0 rem-calc(83);
	  		line-height: 28px;
	  	}
	  	@media #{$Phone} {
	  		font-size: $h1-content-font-size-P;
	  		padding: 0 rem-calc(11) 0 rem-calc(11);
	  		line-height: 28px;
	  	}
  	}
  }
  .subheader {
  	padding: 0 rem-calc(54) 0 rem-calc(54);
  	@media #{$iPadPortrait} {
	  	padding: 0 rem-calc(67) 0 rem-calc(67);
    }
    @media #{$Phone} {
      padding: 0 rem-calc(11) 0 rem-calc(11);
    }
  	h2 {
  		font-family: $PMNCaecilia;
  		font-size: $subheader-D;
  		line-height: 32px;
  		padding: 0 0 rem-calc(20) 0;
  		margin: 0;
  		@media #{$iPadPortrait} {
  			font-size: $subheader-T;
  			line-height: 32px;
  		}
  		@media #{$Phone} {
  			font-size: $subheader-P;
  			line-height: 22px;
  		}
  	}
  }
  .copy {
    padding: 0 rem-calc(54) 0 rem-calc(54);
    @media #{$iPadPortrait} {
    	padding: 0 rem-calc(67) 0 rem-calc(67);
    }
    @media #{$Phone} {
    	padding: 0 rem-calc(11) 0 rem-calc(11);
    }
    h2 {
  		font-size: $h2-font-size-D;
  		font-family: $Roboto;
  		font-weight: $Roboto700;
    	color: $color-gray222;
    	padding: 0 0 rem-calc(15) 0;
    	margin: 0;
    	line-height: 44px;
    	@media #{$iPadPortrait} {
	  		font-size: $h2-font-size-T;
	  		line-height: 28px;
		  }
		  @media #{$iPadPortrait} {
	  		font-size: $h2-font-size-P;
	  		line-height: 22px;
		  }
    }
    h3 {
	    font-size: $h3-font-size;
	    font-family: $Roboto;
	    font-weight: $Roboto700;
	    color: $color-gray222;
	    margin: 0;
	    text-transform: uppercase;
		  @media #{$Phone} {
	      font-size: $h3-font-size-P;
	    }
    }
    p {
    	font-family: $Barlow;
    	font-size: $article-copy;
    	color: $color-gray222;
      line-height: 30px;
    	margin: 0;
    	padding: 0 0 rem-calc(30) 0;
    	@media #{$iPadPortrait} {
	  		line-height: 28px;
		  }
  	}
  	a {
  		color: $color-maroon;
  		padding-bottom: 3px;
  		font-weight: bolder;
  		text-decoration: none;
  		border-bottom: $thick-maroon;
  	}
  }
  .update {
    background-color: $color-grayE5E;
    padding: rem-calc(27) rem-calc(34);
    margin: 0 rem-calc(20) rem-calc(35) rem-calc(20);
    @media #{$iPadPortrait} {
		  margin: 0 rem-calc(47) rem-calc(35) rem-calc(47);
    }
    @media #{$Phone} {
      padding: rem-calc(7) rem-calc(9);
		  margin: 0 rem-calc(11) rem-calc(35) rem-calc(11);
    }
    p {
    	font-family: $Barlow;
    	font-size: $article-copy;
    	line-height: 30px;
    	margin-top: 30px;
      color: $color-gray222;
    	//padding: 0 0 rem-calc(30) 0;
    	&:first-of-type {
    		display: inline;
    	}
    	&:last-of-type {
    		//margin-top: 0;
    	}
    	@media #{$iPadPortrait} {
	  		line-height: 28px;
		  }
    }
    a {
  		color: $color-maroon;
  		padding-bottom: 3px;
  		font-weight: bolder;
  		text-decoration: none;
  		border-bottom: $thick-maroon;
  	}
    .timestamp {
    	font-family: $Barlow;
    	font-size: $article-copy;
    	line-height: 30px;
      color: $color-gray222;
    	//margin: 0;
    	//padding: 0 0 rem-calc(30) 0;
    	display: inline;
    	.bolded {
        	font-weight: bolder;
        	.upper {
        		text-transform: uppercase;
        	}
    	}
    	@media #{$iPadPortrait} {
	  		line-height: 28px;
		  }
    }
    .updateImage {
      //margin: 0 rem-calc(20) rem-calc(25) rem-calc(20);
      img {
        margin-top: rem-calc(25);
        display: block;
        width: 100%;
        border: $thick-gray707;
        box-sizing: border-box;
      }
    }
  }
  .featureImage {
    margin: 0 rem-calc(20) rem-calc(25) rem-calc(20);
    @media #{$iPadPortrait} {
		  margin: 0 rem-calc(47) rem-calc(25) rem-calc(47);
	  }
	  @media #{$Phone} {
		  margin: 0 rem-calc(11) rem-calc(25) rem-calc(11);
	  }
    img {
  		display: block;
  		width: 100%;
    }
  }
  .floatImage {
  	float: right;
  	margin: rem-calc(8) rem-calc(54) rem-calc(10) rem-calc(10);
  	max-width: rem-calc(275);
  	@media #{$iPadPortrait} {
  		float: none;
  		max-width: 100%;
  		margin: 0 rem-calc(117) rem-calc(10) rem-calc(117);
  	}
  	@media #{$Phone} {
  		float: none;
  		margin: 0 rem-calc(11) rem-calc(10) rem-calc(11);
  	}
  	img {
  		display: block;
  		width: 100%;
  	}
  	.caption {
  		font-family: $Barlow;
  		font-size: $caption-D;
  		color: $color-gray222;
  		margin: rem-calc(8) 0 0 0;
  		@media #{$iPadPortrait} {
		    font-size: $caption-T;
		  }
		  @media #{$Phone} {
		    font-size: $caption-P;
		    margin: rem-calc(8) rem-calc(3) 0 rem-calc(3);
		  }
  	}
  	.photoCredit {
  		font-family: $Barlow;
  		font-size: $photoCredit;
  		font-style: $italic;
  		color: $color-graya2a;
  		margin: 0;
  		@media #{$Phone} {
		    font-size: $photoCredit-P;
	     margin: 0 rem-calc(3) 0 rem-calc(3);
		  }
  	}
  }
  .quote {
  	//border: $thin-maroon;
  	float: left;
  	max-width: rem-calc(275);
  	//padding: 0 0 0 rem-calc(55);
  	margin: 0 rem-calc(35) 0 rem-calc(54);
  	@media #{$iPadPortrait} {
		  float: none;
		  max-width: 100%;
		  margin: 0 rem-calc(64) 0 rem-calc(64);
    }
    @media #{$Phone} {
      float: none;
      max-width: 100%;
      margin: 0 rem-calc(16) 0 rem-calc(16);
    }
  	.doubleQuotes {
  		//display: inline-block;
  		background: $sprite -240px -45px;
		  width: rem-calc(34);
		  height: rem-calc(30);
  		@media #{$Phone} {
  			background: $sprite -240px -80px;
  			width: rem-calc(24);
  			height: rem-calc(22);
  		}
  	}
  	p {
  		//display: inline;
  		font-size: $quote-D;
  		font-family: $PMNCaecilia;
  		margin: 0 0 0 rem-calc(46);
  		position: relative;
  		top: -23px;
  		line-height: 30px;
  		@media #{$iPadPortrait} {
  			font-size: $quote-T;
  			margin: 0 0 0 rem-calc(55);
  			line-height: 45px;
  			top: -15px;
  		}
  		@media #{$Phone} {
  			font-size: $quote-P;
  			margin: 0 0 0 rem-calc(45);
  			line-height: 28px;
  			top: -21px;
  		}
  	}
  }
  .video {
    margin: 0 rem-calc(54) rem-calc(40) rem-calc(54);
    position: relative;
    padding-bottom: 49.65%; /* 16:9 */
    //padding-top: 25px;
    height: 0;
    @media #{$iPadPortrait} {
  		margin: 0 rem-calc(67) rem-calc(40) rem-calc(67);
  	}
  	@media #{$Phone} {
  		margin: 0 rem-calc(11) rem-calc(40) rem-calc(11);
  	}
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .articleImage{
  	margin: 0 rem-calc(54) rem-calc(40) rem-calc(54);
  	@media #{$iPadPortrait} {
	  	margin: 0 rem-calc(64) rem-calc(40) rem-calc(64);
    }
    @media #{$Phone} {
      margin: 0 rem-calc(11) rem-calc(40) rem-calc(11);
    }
  	img {
      display: block;
      width: 100%;
    }
  }
  .byline {
    p {
      font-size: $byline;
      font-family: $Lucida;
      margin: 0 0 rem-calc(30) rem-calc(23);
      @media #{$iPadPortrait} {
	  	  margin: 0 0 rem-calc(23) rem-calc(47);
      }
      @media #{$Phone} {
	  	  display: none;
      }
      &.phone {
	  	  display: none;
	  	  @media #{$Phone} {
	  	    display: block;
	  	    margin: 0 0 rem-calc(23) rem-calc(11);
	  	  }
      }
    }
    .name {
      font-weight: bolder;
    }
    a {
      text-decoration: none;
      text-transform: uppercase;
      color: $color-maroon;
      font-weight: bolder;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .share {
    float: right;
    margin: 0 rem-calc(23) 0 0;
    @media #{$iPadPortrait} {
		  margin: 0 rem-calc(47) 0 0;
    }
    @media #{$Phone} {
		  margin: 0 rem-calc(11) 0 0;
    }
  }
  .gallery { //XXXX
    //general
    border: $thin-maroon;
    margin: 0 rem-calc(20) rem-calc(25) rem-calc(20);
    @media #{$iPadPortrait} {
      margin: 0 rem-calc(47) rem-calc(25) rem-calc(47);
    }
    @media #{$Phone} {
      margin: 0 rem-calc(11) rem-calc(25) rem-calc(11);
    }

    //thumbnails
    .thumbnailImages {
      display: grid;
      grid-template-columns: auto auto auto auto auto auto auto;
      justify-content: space-between;
      @media #{$iPadPortrait} {
        grid-template-columns: auto auto auto auto auto auto;
      }
      @media #{$Phone} {
        grid-template-columns: auto auto auto auto auto;
      }
      button.thumb {
        cursor: pointer; 
        border-width: 0;
        background-color: $color-white;
        padding: 0;
        width: rem-calc(110);
        height: rem-calc(110);
        margin: 0 0 rem-calc(20) 0;
        @media #{$Phone} {
          width: rem-calc(50);
          height: rem-calc(50);
          margin: 0 0 rem-calc(10) 0;
        }
        img {
          display: block;
          width: 100%;
        }
      }
    }

    //main image
    .mainImage {
      button.main{
        cursor: pointer; 
        border-width: 0;
        text-align: initial;
        background-color: $color-white;
        padding: 0 !important;
        //padding-left: 26px;
        //width: 100%;
        img {

        }
        .caption {

        }
      }
    }

    //lightbox
    .lightboxImages {
      //modal surround stuff
      //display: none;
      position: fixed;
      z-index: 2500;
      padding-top: 100px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: black;
      .lightboxElement {
        //specific stuff
        .image {

          img {
            display: block;
            width: 100%;
          }
          .arrowLeft {

          }
          .arrowright {

          }
          .close {

          }
        }
        .caption {

        }
      }
    }
  }
}



.closing {
  margin: auto;
  max-width: $full;
  .line {
    border-top: $thin-gray707;
    margin: 0 rem-calc(20) rem-calc(110) rem-calc(20); // *****why is this 110 needed?
    @media #{$iPadPortrait} {
    	margin: 0 rem-calc(47) rem-calc(80) rem-calc(47);
    }
    @media #{$Phone} {
    	margin: 0 rem-calc(8) rem-calc(80) rem-calc(8);
    }
  }
  .tags {
    margin: rem-calc(60) 0 0 rem-calc(3);
    @media #{$Phone} {
    	//width: 100%;
    	margin: rem-calc(40) auto 0 auto;
    	display: flex;
      justify-content: space-around;
    }
    a {
      //height: rem-calc(30);
      border: $thin-gray707;
      padding: rem-calc(10) rem-calc(25);
      margin-right: rem-calc(12);
      font-size: $tag;
      font-family: $Lucida;
      text-transform: uppercase;
      text-decoration: none;
      color: $color-gray707;
      @media #{$Phone} {
      	font-size: $tag-P;
      	padding: rem-calc(10) rem-calc(25);
      	margin-right: 0;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .share {
    float: right;
    margin: rem-calc(60) 0 0 0;
    @media #{$Phone} {
    	margin: rem-calc(40) 0 0 0;
    	float: none;
    	display: flex;
        justify-content: center;
    }
  }
}

footer {
  //border: $thin-maroon;
  .full-width {
    width: 100%;
    max-width: 100%;
  }
  .navigation{
    //border: $thin-maroon;
    background-color: $color-grayD9D;
    height: rem-calc(244);
    margin: auto;
    max-width: 100%;
    nav {
      max-width: $full;
      margin: auto;
        ul {
        margin: 0;
        padding: rem-calc(114) rem-calc(74) 0 rem-calc(74);
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        @media #{$Phone} {
        	padding: rem-calc(40) 0 rem-calc(0) 0;
        	//padding: 0;
        	flex-direction: column;
        	justify-content: space-between;
        	height: 167px;
        }
        li {
          //display: inline-block;
          //padding-right: rem-calc(45);
          @media #{$Phone} {
          	text-align: center;
          }
          a {
            font-family: $Lucida;
            color: $color-gray707;
            font-size: $nav-bottom;
            font-weight: bolder;
            text-decoration: none;
            text-transform: uppercase;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
  	}
  }
  .bottom {
    background-color: $color-maroon;
    height: rem-calc(70);
    @media #{$Phone} {
    	height: rem-calc(150);
    }
    .elements {
      margin: auto;
  	  max-width: $full;
  	  height: rem-calc(70);
  	  @media #{$Phone} {
  	  	height: rem-calc(150);
  	  }
  	  .social {
  	  	float: right;
  	  	//display: inline-block;
  	  	margin: rem-calc(25) rem-calc(28) 0 0;
  	  	@media #{$Phone} {
  	  		width: 250px;
  	  		margin: auto;
  	  		float: none;
  	  		display: flex;
        	justify-content: space-around;
        	//margin: 0;
        	padding: rem-calc(32) 0 rem-calc(23) 0;
  	  	}
  	  	.icon {
  	  	  a {
  	  		//border: $thick-white;
  	  		width: 100%;
      		height: 100%;
      		display: inline-block;
      	  }
      	}
       	.instagram {
      		display: inline-block;
      		background: $sprite 0px -43px;
      		width: rem-calc(19);
      		height: rem-calc(20);
      		margin-right: rem-calc(24);
      	}
        .twitter {
      	    display: inline-block;
      	    background: $sprite -32px -45px;
      	    width: rem-calc(19);
      	    height: rem-calc(17);
      	    margin-right: rem-calc(24);
      	}
  		  .facebook {
  		    display: inline-block;
  		    background: $sprite -60px -43px;
  		    width: rem-calc(10);
  		    height: rem-calc(19);
  		  }
  	  }
  	  .copyright {
  	  	height: rem-calc(70);
  	  	@media #{$Phone} {
  	  		margin: 0 auto 0 auto;
  	  		//display: flex;
  	  		//justify-content: space-around;
  	  		width: rem-calc(278);
  	  		//border: $thick-white;
  	  	}
  	  	.cuny {
    		  display: inline-block;
    		  background: $sprite -240px 0px;
    		  width: rem-calc(45);
    		  height: rem-calc(44);
    		  margin: rem-calc(13) 0 0 rem-calc(28);
    		  @media #{$Phone} {
    		  	margin-left: rem-calc(0);
    		  }
    		  a {
    		    //border: $thin-maroon;
    		    width: 100%;
    		    height: 100%;
    		    display: inline-block;
    		  }
        }
      	.copy {
      	  display: inline-block;
      	  position: absolute;
      	  //top: -17px;
      	  border-left: $thick-white;
      	  height: rem-calc(44);
      	  margin: rem-calc(13) rem-calc(9) 0 rem-calc(14);
      	  @media #{$Phone} {
      	  	margin-right: 0;
      	  }
      	  p {
      	  	font-family: $Lucida;
      	  	color: $color-white;
      	  	font-size: $copyright;
      	  	//line-height: 60px;
      	  	margin: rem-calc(15) 0 0 rem-calc(14);
      	  	padding: 0;
      	  }
      	}
    	}
    }
  }
}

.share {
  .icon {
    a {
      //border: $thin-maroon;
      width: 100%;
      height: 100%;
      display: inline-block;
    }
  }
  .email {
    display: inline-block;
    background: $sprite 0px 0px;
    width: rem-calc(29);
    height: rem-calc(20);
    margin-right: rem-calc(24);
  }
  .twitter {
    display: inline-block;
    background: $sprite -32px 0px;
    width: rem-calc(25);
    height: rem-calc(20);
    margin-right: rem-calc(24);
  }
  .facebook {
    display: inline-block;
    background: $sprite -60px 0px;
    width: rem-calc(11);
    height: rem-calc(20);
  }
  &.open {
  	@media #{$Phone} {
  		margin-top: rem-calc(3);
    	.email {
    		background: $sprite 0px -25px;
		    width: rem-calc(20);
		    height: rem-calc(14);
		    margin-right: rem-calc(10);
    	}
    	.twitter {
    		background: $sprite -32px -25px;
		    width: rem-calc(17);
		    height: rem-calc(14);
		    margin-right: rem-calc(10);
    	}
    	.facebook {
    		background: $sprite -60px -25px;
		    width: rem-calc(8);
		    height: rem-calc(14);
    	}
    }
  }
}



// SkipNav //
#skipnav a, a.skipTranscript {
	position:absolute;
	z-index:3000;
	clip:rect(0 0 0 0);
	height:1px;
	width:1px;
	padding-bottom:25px;
}
#skipnav a:hover, #skipnav a:focus, #skipnav a:active {
	clip:auto;
	left:0;top:0;
	width:100%;
	height:auto;
	margin:0;
	padding:10px 0;
	background:#fdf6e7;
	border:2px solid #990000;
	border-left:none;
	border-right:none;
	text-align:center;
	font-weight:bold;
	color:#990000;
}
// SkipNav //