/bower_components/*
/.sass-cache/*
*.DS_Store
/stylesheets/*
assets/BC-StoriesDiagrams/BC-DigiMag_VideoArticlePage.pdf
assets/BC-StoriesDiagrams/BC-DigiMag_VideoArticlePage.ai
assets/BC-StoriesDiagrams/BC-DigiMag_SlideshowArticlePage.pdf
assets/BC-StoriesDiagrams/BC-DigiMag_SlideshowArticlePage.ai
assets/BC-StoriesDiagrams/BC-DigiMag_HomePage.pdf
assets/BC-StoriesDiagrams/BC-DigiMag_HomePage.ai
assets/BC-StoriesDiagrams/BC-DigiMag_ContactPage.pdf
assets/BC-StoriesDiagrams/BC-DigiMag_ContactPage.ai
assets/BC-StoriesDiagrams/BC-DigiMag_ArticlePage.pdf
assets/BC-StoriesDiagrams/BC-DigiMag_ArticlePage.ai
assets/BC-StoriesDiagrams/BC-DigiMag_Archive-Search-TagFilter_page.pdf
assets/BC-StoriesDiagrams/BC-DigiMag_Archive-Search-TagFilter_page.ai
assets/BC-StoriesDiagrams/BC-DigiMag_AboutPage.pdf
assets/BC-StoriesDiagrams/BC-DigiMag_AboutPage.ai
webfonts/fontawesome-free-5.3.1-web.zip
